<div class="container">
  <div class="row mt-4">
    <mat-card class="card-padrao">
      <div class="row">
        <div class="col-sm-12">
          <h2><b>MAGIAS</b></h2>
          <hr />
        </div>
      </div>
      <form [formGroup]="form">
        <div class="col-sm-12 mt-4">
          <div class="col-sm-12 mt-4">
            <div class="row">
              <div class="col-sm-3 mt-4">
                <mat-form-field>
                  <mat-label>Tipo</mat-label>
                  <mat-select
                    formControlName="tipo"
                    (selectionChange)="consultar()"
                  >
                    @for (tipo of tipos; track tipo) {
                    <mat-option [value]="tipo">{{ tipo }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-3 mt-4">
                <mat-form-field>
                  <mat-label>Círculo</mat-label>
                  <mat-select
                    formControlName="circulo"
                    (selectionChange)="consultar()"
                  >
                    @for (circulo of circulos; track circulo) {
                    <mat-option [value]="circulo">{{ circulo }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-3 mt-4">
                <mat-form-field>
                  <mat-label>Escolas</mat-label>
                  <mat-select
                    formControlName="escola"
                    (selectionChange)="consultar()"
                  >
                    @for (escola of escolas; track escola) {
                    <mat-option [value]="escola">{{ escola }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-3 mt-4">
                <mat-form-field>
                  <mat-label>Resistencias</mat-label>
                  <mat-select
                    formControlName="pericia_resistencia"
                    (selectionChange)="consultar()"
                  >
                    @for (resistencia of resistencias; track resistencia) {
                    <mat-option [value]="resistencia">{{
                      resistencia
                    }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 mt-4">
                <mat-form-field>
                  <mat-label>Alcance</mat-label>
                  <mat-select
                    formControlName="alcance"
                    (selectionChange)="consultar()"
                  >
                    @for (alcance of alcances; track alcance) {
                    <mat-option [value]="alcance">{{ alcance }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-3 mt-4">
                <mat-form-field>
                  <mat-label>Execução</mat-label>
                  <mat-select
                    formControlName="execucao"
                    (selectionChange)="consultar()"
                  >
                    @for (execucao of execucoes; track execucao) {
                    <mat-option [value]="execucao">{{ execucao }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-3 mt-4">
                <mat-form-field class="form-field">
                  <mat-label>Digite o nome da magia</mat-label>
                  <input
                    formControlName="nome"
                    matInput
                    type="text"
                    (keyup)="consultar()"
                  />
                </mat-form-field>
              </div>
              <div class="col-sm-3 mt-4">
                <section>
                  <div class="button-row d-flex">
                    <button
                      class="me-2"
                      (click)="limparFiltros()"
                      mat-flat-button
                    >
                      Limpar Filtros
                    </button>
                  </div>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 mt-4">
                <mat-card class="card-padrao">
                  <div class="mb-2">
                    <div class="d-flex justify-content-end">
                      <b>Número de Registros: {{ numero_registros }}</b>
                    </div>
                  </div>
                  <table
                    mat-table
                    [dataSource]="dataSource"
                    class="mat-elevation-z8"
                    matSort
                  >
                    <ng-container matColumnDef="nome">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nome
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.nome }}
                      </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="tipo">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Tipo
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.tipo }}
                      </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="escola">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Escola
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.escola }}
                      </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="circulo">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Circulo
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.circulo }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="acao">
                      <th mat-header-cell *matHeaderCellDef>Ações</th>
                      <td mat-cell *matCellDef="let element">
                        <button
                          mat-icon-button
                          color="primary"
                          (click)="selecionaMagia(element)"
                        >
                          <mat-icon>zoom_in</mat-icon>
                        </button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                  </table>
                  <mat-paginator
                    [pageSizeOptions]="[
                      10,
                      20,
                      50,
                      100,
                      objetos ? objetos.length : 200
                    ]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                  >
                  </mat-paginator>
                </mat-card>
              </div>

              <div class="col-sm-4 mt-4">
                <mat-card *ngIf="objeto" class="card-padrao">
                  <mat-card-title
                    class="titulo-cartao-apresentacao interior-cartao interior-cartao-condicoes"
                  >
                    {{ objeto.nome?.toUpperCase() }}
                  </mat-card-title>
                  <mat-card-content
                    class="interior-cartao interior-cartao-condicoes content-cartao-itens"
                  >
                    <div class="content">
                      <mat-tab-group (selectedTabChange)="calculaTudo(objeto)">
                        <mat-tab label="Descrição">
                          <div class="content">
                            <div class="row">
                              <div class="col-sm-12">
                                <hr class="" />
                              </div>
                              <div class="col-sm-12">
                                <div class="d-flex justify-content-end">
                                  {{
                                    objeto.referencias +
                                      " pag. " +
                                      objeto.paginas
                                  }}
                                </div>
                                <hr class="" />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12 mt-2 button-row">
                                <section class="d-flex flex-wrap gap-2">
                                  @for (traco of objeto.tracos; track traco) {
                                  <button class="me-2" mat-flat-button disabled>
                                    {{ traco }}
                                  </button>
                                  }
                                </section>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12">
                                <hr class="" />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12 mt-2 button-row">
                                <section class="d-flex flex-wrap gap-2">
                                  <button class="me-2" mat-flat-button disabled>
                                    {{ "Execução: " + objeto.execucao }}
                                  </button>
                                  <button class="me-2" mat-flat-button disabled>
                                    {{ "Alcance: " + objeto.alcance }}
                                  </button>
                                  <button class="me-2" mat-flat-button disabled>
                                    {{ "Alvo: " + objeto.alvo }}
                                  </button>
                                  <button class="me-2" mat-flat-button disabled>
                                    {{ "Duração: " + objeto.duracao }}
                                  </button>
                                  <button class="me-2" mat-flat-button disabled>
                                    {{
                                      "Resistência: " +
                                        objeto.pericia_resistencia +
                                        " " +
                                        objeto.maneira_resistencia
                                    }}
                                  </button>
                                </section>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12">
                                <hr class="" />
                              </div>
                            </div>
                            <div class="row">
                              <div
                                class="col-sm-12"
                                [innerHTML]="objeto.descricao"
                              ></div>
                            </div>
                          </div>
                          <div class="content">
                            <div class="col-sm-12">
                              <hr />
                            </div>
                            @for (aprimoramento of objeto.aprimoramentos; track
                            aprimoramento.id) {
                            <div class="row">
                              <div class="col-sm-12 mt-2 button-row">
                                <section class="d-flex flex-wrap gap-2">
                                  @for (traco_aprimoramento of
                                  aprimoramento.tracos; track
                                  traco_aprimoramento) {
                                  <button class="me-2" mat-flat-button disabled>
                                    {{ traco_aprimoramento }}
                                  </button>
                                  }
                                </section>
                              </div>
                              <div
                                class="col-sm-12 mt-2"
                                [innerHTML]="aprimoramento.descricao"
                              ></div>
                              <div
                                class="col-sm-6 mt-4 d-flex justify-content-end"
                              ></div>
                              <hr />
                            </div>
                            }
                          </div>
                        </mat-tab>
                        <mat-tab label="Poção">
                          <div class="content">
                            <div class="row">
                              <div class="col-sm-12 mt-2"></div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6 mt-1">
                                Perícia para Fabricação
                              </div>
                              <div
                                class="col-sm-6 mt-1 d-flex justify-content-end"
                              >
                                {{ "Ofício (alquimista)" }}
                              </div>
                              <hr />
                            </div>
                            <div class="row">
                              <div class="col-sm-9 mt-1">Preço</div>
                              <div
                                class="col-sm-3 mt-1 d-flex justify-content-end"
                              >
                                {{ "T$ " + objeto.custo_total }}
                              </div>
                              <hr />
                            </div>
                            <div class="row">
                              <div class="col-sm-9 mt-1">
                                Custo para Fabricação
                              </div>
                              <div
                                class="col-sm-3 mt-1 d-flex justify-content-end"
                              >
                                {{ "T$ " + calculoCusto(objeto) }}
                              </div>
                              <hr />
                            </div>
                            <div class="row">
                              <div class="col-sm-9 mt-1">CD Fabricação</div>
                              <div
                                class="col-sm-3 mt-1 d-flex justify-content-end"
                              >
                                {{ calculaCD(objeto) }}
                              </div>
                              <hr />
                            </div>
                            <div class="row">
                              <div class="col-sm-9 mt-1">Tipo</div>
                              <div
                                class="col-sm-3 mt-1 d-flex justify-content-end"
                              >
                                {{ descobreTipoAlquimico(objeto) }}
                              </div>
                              <hr />
                            </div>
                            <div class="row">
                              <div class="col-sm-9 mt-1">Ativação</div>
                              <div
                                class="col-sm-3 mt-1 d-flex justify-content-end"
                              >
                                {{ "Ação Padrão" }}
                              </div>
                              <hr />
                            </div>
                            <div class="row">
                              @for (aprimoramento of objeto.aprimoramentos;
                              track aprimoramento.id) {
                              <div class="col-sm-3 mt-2">
                                <div
                                  class="d-flex flex-wrap gap-2"
                                  *ngIf="aprimoramento.e_aumenta"
                                >
                                  <button
                                    (click)="
                                      diminuiAprimoramento(
                                        aprimoramento,
                                        objeto
                                      )
                                    "
                                  >
                                    -
                                  </button>
                                  <input
                                    size="1"
                                    [value]="aprimoramento.aumenta"
                                    disabled
                                  />
                                  <button
                                    (click)="
                                      aumentaAprimoramento(
                                        aprimoramento,
                                        objeto
                                      )
                                    "
                                  >
                                    +
                                  </button>
                                </div>
                                <div class="col-sm-3 mt-2">
                                  <div
                                    class="d-flex flex-wrap gap-2"
                                    *ngIf="!aprimoramento.e_aumenta"
                                  >
                                    <mat-checkbox
                                      (change)="
                                        calculaCheck(aprimoramento, objeto)
                                      "
                                    ></mat-checkbox>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-sm-9 mt-2"
                                [innerHTML]="aprimoramento.descricao"
                              ></div>
                              }
                            </div>
                          </div>
                        </mat-tab>
                        <mat-tab label="Pergaminho">
                          <div class="content">
                            <div class="row">
                              <div class="col-sm-12 mt-2"></div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6 mt-1">
                                Perícia para Fabricação
                              </div>
                              <div
                                class="col-sm-6 mt-1 d-flex justify-content-end"
                              >
                                {{ "Ofício (escriba)" }}
                              </div>
                              <hr />
                            </div>
                            <div class="row">
                              <div class="col-sm-9 mt-1">Preço</div>
                              <div
                                class="col-sm-3 mt-1 d-flex justify-content-end"
                              >
                                {{ "T$ " + objeto.custo_total }}
                              </div>
                              <hr />
                            </div>
                            <div class="row">
                              <div class="col-sm-9 mt-1">
                                Custo para Fabricação
                              </div>
                              <div
                                class="col-sm-3 mt-1 d-flex justify-content-end"
                              >
                                {{ "T$ " + calculoCusto(objeto) }}
                              </div>
                              <hr />
                            </div>
                            <div class="row">
                              <div class="col-sm-9 mt-1">CD Fabricação</div>
                              <div
                                class="col-sm-3 mt-1 d-flex justify-content-end"
                              >
                                {{ calculaCD(objeto) }}
                              </div>
                              <hr />
                            </div>
                            <div class="row">
                              <div class="col-sm-3 mt-1">Ativação</div>
                              <div
                                class="col-sm-9 mt-1 d-flex justify-content-end"
                              >
                                {{
                                  "Deve Conhecer a Magia Escrita ou Testar Misticismo CD (" +
                                    calculaCD(objeto) +
                                    ")"
                                }}
                              </div>
                              <hr />
                            </div>
                            <div class="row">
                              @for (aprimoramento of objeto.aprimoramentos;
                              track aprimoramento.id) {
                              <div class="col-sm-3 mt-2">
                                <div
                                  class="d-flex flex-wrap gap-2"
                                  *ngIf="aprimoramento.e_aumenta"
                                >
                                  <button
                                    (click)="
                                      diminuiAprimoramento(
                                        aprimoramento,
                                        objeto
                                      )
                                    "
                                  >
                                    -
                                  </button>
                                  <input
                                    size="1"
                                    [value]="aprimoramento.aumenta"
                                    disabled
                                  />
                                  <button
                                    (click)="
                                      aumentaAprimoramento(
                                        aprimoramento,
                                        objeto
                                      )
                                    "
                                  >
                                    +
                                  </button>
                                </div>
                                <div class="col-sm-3 mt-2">
                                  <div
                                    class="d-flex flex-wrap gap-2"
                                    *ngIf="!aprimoramento.e_aumenta"
                                  >
                                    <mat-checkbox
                                      (change)="
                                        calculaCheck(aprimoramento, objeto)
                                      "
                                    ></mat-checkbox>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-sm-9 mt-2"
                                [innerHTML]="aprimoramento.descricao"
                              ></div>
                              }
                            </div>
                          </div>
                        </mat-tab>
                        <mat-tab label="Engenhoca">
                          <div class="content">
                            <div class="row">
                              <div class="col-sm-12 mt-2"></div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6 mt-1">
                                Perícia para Fabricação
                              </div>
                              <div
                                class="col-sm-6 mt-1 d-flex justify-content-end"
                              >
                                {{ "Ofício (engenhoqueiro)" }}
                              </div>
                              <hr />
                            </div>
                            <div class="row">
                              <div class="col-sm-9 mt-1">Custo</div>
                              <div
                                class="col-sm-3 mt-1 d-flex justify-content-end"
                              >
                                {{
                                  "T$ " + objeto
                                    ? objeto.custo
                                      ? objeto.custo * 100
                                      : 0
                                    : 0
                                }}
                              </div>
                              <hr />
                            </div>
                            <div class="row">
                              <div class="col-sm-9 mt-1">CD Fabricação</div>
                              <div
                                class="col-sm-3 mt-1 d-flex justify-content-end"
                              >
                                {{ calculaCDEngenhoqueiro(objeto) }}
                              </div>
                              <hr />
                            </div>
                            <div class="row">
                              <div class="col-sm-3 mt-1">Ativação</div>
                              <div
                                class="col-sm-9 mt-1 d-flex justify-content-end"
                              >
                                {{
                                  "Testar Ofício Engenhoqueiro CD (" +
                                    calculaCD(objeto) +
                                    ")"
                                }}
                              </div>
                              <hr />
                            </div>
                            <div class="row">
                              <div class="col-sm-6 mt-1">
                                PM gasto na Ativação
                              </div>
                              <div
                                class="col-sm-6 mt-1 d-flex justify-content-end"
                              >
                                {{ calculaPMEngenhoqueiro(objeto) }}
                              </div>
                              <hr />
                            </div>
                            <div class="row">
                              @for (aprimoramento of objeto.aprimoramentos;
                              track aprimoramento.id) {
                              <div class="col-sm-3 mt-2">
                                <div
                                  class="d-flex flex-wrap gap-2"
                                  *ngIf="aprimoramento.e_aumenta"
                                >
                                  <button
                                    (click)="
                                      diminuiAprimoramento(
                                        aprimoramento,
                                        objeto
                                      )
                                    "
                                  >
                                    -
                                  </button>
                                  <input
                                    size="1"
                                    [value]="aprimoramento.aumenta"
                                    disabled
                                  />
                                  <button
                                    (click)="
                                      aumentaAprimoramento(
                                        aprimoramento,
                                        objeto
                                      )
                                    "
                                  >
                                    +
                                  </button>
                                </div>
                                <div class="col-sm-3 mt-2">
                                  <div
                                    class="d-flex flex-wrap gap-2"
                                    *ngIf="!aprimoramento.e_aumenta"
                                  >
                                    <mat-checkbox
                                      (change)="
                                        calculaCheck(aprimoramento, objeto)
                                      "
                                    ></mat-checkbox>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-sm-9 mt-2"
                                [innerHTML]="aprimoramento.descricao"
                              ></div>
                              }
                            </div>
                          </div>
                        </mat-tab>
                      </mat-tab-group>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
