.mat-mdc-card-content b {
    color: rgb(247, 247, 247) !important;
}

.mat-mdc-card-content b {
  color: rgb(247, 247, 247) !important;
}

.mat-mdc-dialog-surface b {
    color: rgb(247, 247, 247) !important;
    font-family: "Oswald" !important;
  }