<div class="container">
  <div class="row mt-4">
    <mat-card class="card-padrao">
      <div class="row">
        <div class="col-sm-12">
          <h2><b>MAGIAS</b></h2>
          <hr />
        </div>
      </div>
      <form [formGroup]="form">
        <div class="col-sm-12 mt-4">
          <div class="col-sm-12 mt-4">
            <div class="row">
              <div class="col-sm-4 mt-4">
                <div class="row">
                  <label id="radio-tipo"><b>Tipo</b></label>
                </div>
                <div class="row">
                  <mat-radio-group
                    name="tipo"
                    formControlName="tipo"
                    (change)="consultar()"
                    title="Tipo"
                    aria-labelledby="radio-tipo"
                  >
                    @for (tipo of tipos; track tipo) {
                    <mat-radio-button [value]="tipo">{{
                      tipo
                    }}</mat-radio-button>
                    }
                  </mat-radio-group>
                </div>
              </div>
              <div class="col-sm-8 mt-4">
                <div class="row">
                  <label id="radio-circulo"><b>Círculos</b></label>
                </div>
                <div class="row">
                  <mat-radio-group
                    name="circulo"
                    formControlName="circulo"
                    (change)="consultar()"
                    title="Círculos"
                    aria-labelledby="radio-circulo"
                  >
                    @for (objeto of circulos; track objeto) {
                    <mat-radio-button [value]="objeto">{{
                      objeto
                    }}</mat-radio-button>
                    }
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 mt-4">
                <div class="row">
                  <label id="radio-escola"><b>Escola</b></label>
                </div>
                <div class="row">
                  <mat-radio-group
                    name="Escola"
                    formControlName="escola"
                    (change)="consultar()"
                    title="Círculos"
                    aria-labelledby="radio-escola"
                  >
                    @for (objeto of escolas; track objeto) {
                    <mat-radio-button [value]="objeto">{{
                      objeto
                    }}</mat-radio-button>
                    }
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 mt-4">
                <div class="row">
                  <label id="radio-resistencia"><b>Resistencias</b></label>
                </div>
                <div class="row">
                  <mat-radio-group
                    name="pericia_resistencia"
                    formControlName="pericia_resistencia"
                    (change)="consultar()"
                    title="Resistencias"
                    aria-labelledby="radio-resistencia"
                  >
                    @for (objeto of resistencias; track objeto) {
                    <mat-radio-button [value]="objeto">{{
                      objeto
                    }}</mat-radio-button>
                    }
                  </mat-radio-group>
                </div>
              </div>
              <div class="col-sm-8 mt-4">
                <div class="row">
                  <label id="radio-circulo"><b>Alcances</b></label>
                </div>
                <div class="row">
                  <mat-radio-group
                    name="alcance"
                    formControlName="alcance"
                    (change)="consultar()"
                    title="Alcances"
                    aria-labelledby="radio-alcance"
                  >
                    @for (objeto of alcances; track objeto) {
                    <mat-radio-button [value]="objeto">{{
                      objeto
                    }}</mat-radio-button>
                    }
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 mt-4">
                  <div class="row">
                    <label id="radio-execucao"><b>Execução</b></label>
                  </div>
                  <div class="row">
                    <mat-radio-group
                      name="execucao"
                      formControlName="execucao"
                      (change)="consultar()"
                      title="Execução"
                      aria-labelledby="radio-execucao"
                    >
                      @for (objeto of execucoes; track objeto) {
                      <mat-radio-button [value]="objeto">{{
                        objeto
                      }}</mat-radio-button>
                      }
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 mt-4">
                <mat-form-field class="form-field">
                  <mat-label>Magia</mat-label>
                  <input
                    formControlName="nome"
                    matInput
                    type="text"
                    (keyup)="consultar()"
                  />
                </mat-form-field>
              </div>
              <div class="col-sm-6 mt-4">
                <section>
                  <div class="button-row d-flex justify-content-end">
                    <button
                      class="me-2"
                      (click)="limparFiltros()"
                      mat-flat-button
                    >
                      Limpar Filtros
                    </button>
                  </div>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 mt-4">
                <div class="d-flex justify-content-end">
                  <b>Número de Registros: {{ numero_registros }}</b>
                </div>
              </div>
              <mat-grid-list cols="2" [rowHeight]="600" gutterSize="15">
                @for (objeto of objetos; track objeto.id) {
                <mat-grid-tile>
                  <mat-card class="card-padrao">
                    <mat-card-title
                      class="titulo-cartao-apresentacao interior-cartao interior-cartao-condicoes"
                    >
                      {{ objeto.nome }}
                    </mat-card-title>
                    <mat-card-content
                      class="interior-cartao interior-cartao-condicoes content-cartao-itens"
                    >
                      <div class="content">
                        <mat-tab-group
                          (selectedTabChange)="calculaTudo(objeto)"
                        >
                          <mat-tab label="Descrição">
                            <div class="content">
                              <div class="row">
                                <div class="col-sm-12">
                                  <hr class="" />
                                </div>
                                <div class="col-sm-12">
                                  <div class="d-flex justify-content-end">
                                    {{
                                      objeto.referencias +
                                        " pag. " +
                                        objeto.paginas
                                    }}
                                  </div>
                                  <hr class="" />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12 mt-2 button-row">
                                  <section class="d-flex flex-wrap gap-2">
                                    @for (traco of objeto.tracos; track traco) {
                                    <button
                                      class="me-2"
                                      mat-flat-button
                                      disabled
                                    >
                                      {{ traco }}
                                    </button>
                                    }
                                  </section>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12">
                                  <hr class="" />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12 mt-2 button-row">
                                  <section class="d-flex flex-wrap gap-2">
                                    <button
                                      class="me-2"
                                      mat-flat-button
                                      disabled
                                    >
                                      {{ "Execução: " + objeto.execucao }}
                                    </button>
                                    <button
                                      class="me-2"
                                      mat-flat-button
                                      disabled
                                    >
                                      {{ "Alcance: " + objeto.alcance }}
                                    </button>
                                    <button
                                      class="me-2"
                                      mat-flat-button
                                      disabled
                                    >
                                      {{ "Alvo: " + objeto.alvo }}
                                    </button>
                                    <button
                                      class="me-2"
                                      mat-flat-button
                                      disabled
                                    >
                                      {{ "Duração: " + objeto.duracao }}
                                    </button>
                                    <button
                                      class="me-2"
                                      mat-flat-button
                                      disabled
                                    >
                                      {{
                                        "Resistência: " +
                                          objeto.pericia_resistencia +
                                          " " +
                                          objeto.maneira_resistencia
                                      }}
                                    </button>
                                  </section>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-12">
                                  <hr class="" />
                                </div>
                              </div>
                              <div class="row">
                                <div
                                  class="col-sm-12"
                                  [innerHTML]="objeto.descricao"
                                ></div>
                              </div>
                            </div>
                          </mat-tab>
                          <mat-tab label="Aprimoramentos">
                            <div class="content">
                              <div class="col-sm-12">
                                <hr />
                              </div>
                              @for (aprimoramento of objeto.aprimoramentos;
                              track aprimoramento.id) {
                              <div class="row">
                                <div class="col-sm-12 mt-2 button-row">
                                  <section class="d-flex flex-wrap gap-2">
                                    @for (traco_aprimoramento of
                                    aprimoramento.tracos; track
                                    traco_aprimoramento) {
                                    <button
                                      class="me-2"
                                      mat-flat-button
                                      disabled
                                    >
                                      {{ traco_aprimoramento }}
                                    </button>
                                    }
                                  </section>
                                </div>
                                <div
                                  class="col-sm-12 mt-2"
                                  [innerHTML]="aprimoramento.descricao"
                                ></div>
                                <div
                                  class="col-sm-6 mt-4 d-flex justify-content-end"
                                ></div>
                                <hr />
                              </div>
                              }
                            </div>
                          </mat-tab>
                          <mat-tab label="Poção">
                            <div class="content">
                              <div class="row">
                                <div class="col-sm-12 mt-2"></div>
                              </div>
                              <div class="row">
                                <div class="col-sm-6 mt-1">
                                  Perícia para Fabricação
                                </div>
                                <div
                                  class="col-sm-6 mt-1 d-flex justify-content-end"
                                >
                                  {{ "Ofício (alquimista)" }}
                                </div>
                                <hr />
                              </div>
                              <div class="row">
                                <div class="col-sm-9 mt-1">Preço</div>
                                <div
                                  class="col-sm-3 mt-1 d-flex justify-content-end"
                                >
                                  {{ "T$ " + objeto.custo_total }}
                                </div>
                                <hr />
                              </div>
                              <div class="row">
                                <div class="col-sm-9 mt-1">
                                  Custo para Fabricação
                                </div>
                                <div
                                  class="col-sm-3 mt-1 d-flex justify-content-end"
                                >
                                  {{ "T$ " + calculoCusto(objeto) }}
                                </div>
                                <hr />
                              </div>
                              <div class="row">
                                <div class="col-sm-9 mt-1">CD Fabricação</div>
                                <div
                                  class="col-sm-3 mt-1 d-flex justify-content-end"
                                >
                                  {{ calculaCD(objeto) }}
                                </div>
                                <hr />
                              </div>
                              <div class="row">
                                <div class="col-sm-9 mt-1">Tipo</div>
                                <div
                                  class="col-sm-3 mt-1 d-flex justify-content-end"
                                >
                                  {{ descobreTipoAlquimico(objeto) }}
                                </div>
                                <hr />
                              </div>
                              <div class="row">
                                <div class="col-sm-9 mt-1">Ativação</div>
                                <div
                                  class="col-sm-3 mt-1 d-flex justify-content-end"
                                >
                                  {{ "Ação Padrão" }}
                                </div>
                                <hr />
                              </div>
                              <div class="row">
                                @for (aprimoramento of objeto.aprimoramentos;
                                track aprimoramento.id) {
                                <div class="col-sm-3 mt-2">
                                  <div
                                    class="d-flex flex-wrap gap-2"
                                    *ngIf="aprimoramento.e_aumenta"
                                  >
                                    <button
                                      (click)="
                                        diminuiAprimoramento(
                                          aprimoramento,
                                          objeto
                                        )
                                      "
                                    >
                                      -
                                    </button>
                                    <input
                                      size="1"
                                      [value]="aprimoramento.aumenta"
                                      disabled
                                    />
                                    <button
                                      (click)="
                                        aumentaAprimoramento(
                                          aprimoramento,
                                          objeto
                                        )
                                      "
                                    >
                                      +
                                    </button>
                                  </div>
                                  <div class="col-sm-3 mt-2">
                                    <div
                                      class="d-flex flex-wrap gap-2"
                                      *ngIf="!aprimoramento.e_aumenta"
                                    >
                                      <mat-checkbox
                                        (change)="
                                          calculaCheck(aprimoramento, objeto)
                                        "
                                      ></mat-checkbox>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="col-sm-9 mt-2"
                                  [innerHTML]="aprimoramento.descricao"
                                ></div>
                                }
                              </div>
                            </div>
                          </mat-tab>
                          <mat-tab label="Pergaminho">
                            <div class="content">
                              <div class="row">
                                <div class="col-sm-12 mt-2"></div>
                              </div>
                              <div class="row">
                                <div class="col-sm-6 mt-1">
                                  Perícia para Fabricação
                                </div>
                                <div
                                  class="col-sm-6 mt-1 d-flex justify-content-end"
                                >
                                  {{ "Ofício (escriba)" }}
                                </div>
                                <hr />
                              </div>
                              <div class="row">
                                <div class="col-sm-9 mt-1">Preço</div>
                                <div
                                  class="col-sm-3 mt-1 d-flex justify-content-end"
                                >
                                  {{ "T$ " + objeto.custo_total }}
                                </div>
                                <hr />
                              </div>
                              <div class="row">
                                <div class="col-sm-9 mt-1">
                                  Custo para Fabricação
                                </div>
                                <div
                                  class="col-sm-3 mt-1 d-flex justify-content-end"
                                >
                                  {{ "T$ " + calculoCusto(objeto) }}
                                </div>
                                <hr />
                              </div>
                              <div class="row">
                                <div class="col-sm-9 mt-1">CD Fabricação</div>
                                <div
                                  class="col-sm-3 mt-1 d-flex justify-content-end"
                                >
                                  {{ calculaCD(objeto) }}
                                </div>
                                <hr />
                              </div>
                              <div class="row">
                                <div class="col-sm-3 mt-1">Ativação</div>
                                <div
                                  class="col-sm-9 mt-1 d-flex justify-content-end"
                                >
                                  {{
                                    "Deve Conhecer a Magia Escrita ou Testar Misticismo CD (" +
                                      calculaCD(objeto) +
                                      ")"
                                  }}
                                </div>
                                <hr />
                              </div>
                              <div class="row">
                                @for (aprimoramento of objeto.aprimoramentos;
                                track aprimoramento.id) {
                                <div class="col-sm-3 mt-2">
                                  <div
                                    class="d-flex flex-wrap gap-2"
                                    *ngIf="aprimoramento.e_aumenta"
                                  >
                                    <button
                                      (click)="
                                        diminuiAprimoramento(
                                          aprimoramento,
                                          objeto
                                        )
                                      "
                                    >
                                      -
                                    </button>
                                    <input
                                      size="1"
                                      [value]="aprimoramento.aumenta"
                                      disabled
                                    />
                                    <button
                                      (click)="
                                        aumentaAprimoramento(
                                          aprimoramento,
                                          objeto
                                        )
                                      "
                                    >
                                      +
                                    </button>
                                  </div>
                                  <div class="col-sm-3 mt-2">
                                    <div
                                      class="d-flex flex-wrap gap-2"
                                      *ngIf="!aprimoramento.e_aumenta"
                                    >
                                      <mat-checkbox
                                        (change)="
                                          calculaCheck(aprimoramento, objeto)
                                        "
                                      ></mat-checkbox>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="col-sm-9 mt-2"
                                  [innerHTML]="aprimoramento.descricao"
                                ></div>
                                }
                              </div>
                            </div>
                          </mat-tab>
                          <mat-tab label="Engenhoca">
                            <div class="content">
                              <div class="row">
                                <div class="col-sm-12 mt-2"></div>
                              </div>
                              <div class="row">
                                <div class="col-sm-6 mt-1">
                                  Perícia para Fabricação
                                </div>
                                <div
                                  class="col-sm-6 mt-1 d-flex justify-content-end"
                                >
                                  {{ "Ofício (engenhoqueiro)" }}
                                </div>
                                <hr />
                              </div>
                              <div class="row">
                                <div class="col-sm-9 mt-1">Custo</div>
                                <div
                                  class="col-sm-3 mt-1 d-flex justify-content-end"
                                >
                                  {{
                                    "T$ " + objeto
                                      ? objeto.custo
                                        ? objeto.custo * 100
                                        : 0
                                      : 0
                                  }}
                                </div>
                                <hr />
                              </div>
                              <div class="row">
                                <div class="col-sm-9 mt-1">CD Fabricação</div>
                                <div
                                  class="col-sm-3 mt-1 d-flex justify-content-end"
                                >
                                  {{ calculaCDEngenhoqueiro(objeto) }}
                                </div>
                                <hr />
                              </div>
                              <div class="row">
                                <div class="col-sm-3 mt-1">Ativação</div>
                                <div
                                  class="col-sm-9 mt-1 d-flex justify-content-end"
                                >
                                  {{
                                    "Testar Ofício Engenhoqueiro CD (" +
                                      calculaCD(objeto) +
                                      ")"
                                  }}
                                </div>
                                <hr />
                              </div>
                              <div class="row">
                                <div class="col-sm-6 mt-1">
                                  PM gasto na Ativação
                                </div>
                                <div
                                  class="col-sm-6 mt-1 d-flex justify-content-end"
                                >
                                  {{ calculaPMEngenhoqueiro(objeto) }}
                                </div>
                                <hr />
                              </div>
                              <div class="row">
                                @for (aprimoramento of objeto.aprimoramentos;
                                track aprimoramento.id) {
                                <div class="col-sm-3 mt-2">
                                  <div
                                    class="d-flex flex-wrap gap-2"
                                    *ngIf="aprimoramento.e_aumenta"
                                  >
                                    <button
                                      (click)="
                                        diminuiAprimoramento(
                                          aprimoramento,
                                          objeto
                                        )
                                      "
                                    >
                                      -
                                    </button>
                                    <input
                                      size="1"
                                      [value]="aprimoramento.aumenta"
                                      disabled
                                    />
                                    <button
                                      (click)="
                                        aumentaAprimoramento(
                                          aprimoramento,
                                          objeto
                                        )
                                      "
                                    >
                                      +
                                    </button>
                                  </div>
                                  <div class="col-sm-3 mt-2">
                                    <div
                                      class="d-flex flex-wrap gap-2"
                                      *ngIf="!aprimoramento.e_aumenta"
                                    >
                                      <mat-checkbox
                                        (change)="
                                          calculaCheck(aprimoramento, objeto)
                                        "
                                      ></mat-checkbox>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="col-sm-9 mt-2"
                                  [innerHTML]="aprimoramento.descricao"
                                ></div>
                                }
                              </div>
                            </div>
                          </mat-tab>
                        </mat-tab-group>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </mat-grid-tile>
                }
              </mat-grid-list>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
