.mat-mdc-card-content b {
    color: rgb(240, 240, 245) !important;
}

.mat-mdc-card-content b {
  color: rgb(240, 240, 245) !important;
}

.mat-mdc-dialog-surface b {
    color: rgb(240, 240, 245) !important;
    font-family: "Oswald" !important;
  }