<form [formGroup]="formulario">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-4">
        <mat-card class="card-padrao">
          <h2><b>CÁLCULO DE DESAFIOS</b></h2>
          <div class="button-row d-flex justify-content-end">
            <section>
            <button class="me-2" (click)="openDialog()" mat-flat-button>OS 10 MANDAMENTOS DO CÁLCULO DE DESAFIOS</button>
            </section>
          </div>
          <hr />
          <label
            ><b
              class="negrito-centralizado"
              style="text-justify: center !important"
              >PREENCHA O PERFIL DE SUA MESA ABAIXO:
            </b></label>
          <div class="col-sm-12 mt-4">
            <div class="row">
              <div class="col-sm-4">
                <mat-form-field class="form-field">
                  <mat-label>Nível Médio do Grupo</mat-label>
                  <input
                    formControlName="nivel"
                    matInput
                    type="number"
                    name="nivel"
                    (change)="calcular()"
                    (keyup)="calcular()"
                  />
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field class="form-field">
                  <mat-label>Número de Jogadores</mat-label>
                  <input
                    formControlName="numero_jogadores"
                    matInput
                    type="number"
                    name="numero_jogadores"
                    (change)="calcular()"
                    (keyup)="calcular()"
                  />
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <mat-form-field class="form-field">
                  <mat-label>Número de Encontros</mat-label>
                  <input
                    formControlName="numero_encontros"
                    matInput
                    type="number"
                    name="numero_encontros"
                    (change)="calcular()"
                    (keyup)="calcular()"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="row">
                  <label id="radio-experientes"><b>Experientes?</b></label>
                </div>
                <div class="row">
                  <mat-radio-group
                    title="experientes"
                    name="experientes"
                    formControlName="experientes"
                    (change)="calcular()"
                    aria-labelledby="radio-experientes"
                  >
                    <mat-radio-button [value]="true">Sim</mat-radio-button>
                    <mat-radio-button [value]="false">Não</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row">
                  <label id="radio-entrosados"><b>Entrosados?</b></label>
                </div>
                <div class="row">
                  <mat-radio-group
                    title="entrosados"
                    name="entrosados"
                    formControlName="entrosados"
                    (change)="calcular()"
                    aria-labelledby="radio-entrosados"
                  >
                    <mat-radio-button [value]="true">Sim</mat-radio-button>
                    <mat-radio-button [value]="false">Não</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row">
                  <label id="radio-situacao"><b>Situação</b></label>
                </div>
                <div class="row">
                  <mat-radio-group
                    title="situacao"
                    name="situacao"
                    formControlName="situacao"
                    (change)="calcular()"
                    aria-labelledby="radio-situacao"
                  >
                    <mat-radio-button [value]="1">Favorável</mat-radio-button>
                    <mat-radio-button [value]="0">Neutro</mat-radio-button>
                    <mat-radio-button [value]="-1"
                      >Desfavorável</mat-radio-button
                    >
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row">
                <div class="col-sm-12 mt-4">
                  <hr />
                  <h5>RESULTADO: {{ resultado }}</h5>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <hr />
  </div>
</form>
