<mat-card>
  <div class="row g-3">
    <div class="col-12 col-sm-6 col-lg-2">
      <app-attribute [attribute]="for"></app-attribute>
    </div>

    <div class="col-12 col-sm-6 col-lg-2">
      <app-attribute [attribute]="des"></app-attribute>
    </div>

    <div class="col-12 col-sm-6 col-lg-2">
      <app-attribute [attribute]="con"></app-attribute>
    </div>

    <div class="col-12 col-sm-6 col-lg-2">
      <app-attribute [attribute]="int"></app-attribute>
    </div>

    <div class="col-12 col-sm-6 col-lg-2">
      <app-attribute [attribute]="sab"></app-attribute>
    </div>

    <div class="col-12 col-sm-6 col-lg-2">
      <app-attribute [attribute]="car"></app-attribute>
    </div>
  </div>
</mat-card>
