<form [formGroup]="form">
  <div class="row">
    <mat-card class="card-ficha">
      <div class="row">
        <div class="col-sm-12">
          <h2>
            <b>FICHA RÁPIDA</b>
          </h2>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="image-token-frame" (click)="fileInputToken.click()">
            <ng-container *ngIf="tokenPreview; else placeholder">
              <img [src]="tokenPreview" alt="Imagem do personagem" />
            </ng-container>

            <ng-template #placeholder>
              <span>Clique</span>
            </ng-template>
            <input type="file" #fileInputToken hidden accept="image/*" (change)="onImagemToken($event)" />
          </div>
        </div>
        <div class="col-10">
          <div class="row">
            <mat-form-field class="text-field-formulario-edicao">
              <mat-label>Nome do Personagem</mat-label>
              <input formControlName="nome_personagem" matInput type="text" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="text-field-formulario-edicao">
              <mat-label>Nome do Jogador</mat-label>
              <input formControlName="nome_jogador" matInput type="text" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="row mt-4">
            <mat-form-field class="text-field-formulario-edicao">
              <mat-label>Raça</mat-label>
              <input formControlName="raca" matInput type="text" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="text-field-formulario-edicao">
              <mat-label>Classe</mat-label>
              <input formControlName="classe" matInput type="text" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="text-field-formulario-edicao">
              <mat-label>Origem</mat-label>
              <input formControlName="origem" matInput type="text" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="text-field-formulario-edicao">
              <mat-label>Devoção</mat-label>
              <input formControlName="devocao" matInput type="text" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-3 mt-4">
          <div class="image-frame" (click)="fileInputImagem.click()">
            <ng-container *ngIf="personagemPreview; else placeholder">
              <img [src]="personagemPreview" alt="Imagem do personagem" />
            </ng-container>

            <ng-template #placeholder>
              <span>Clique</span>
            </ng-template>
          </div>

          <input type="file" #fileInputImagem hidden accept="image/*" (change)="onImagemPersonagem($event)" />
        </div>
        <div class="row">
          <div class="col-sm-3">
            <mat-form-field class="text-field-formulario-edicao">
              <mat-label>Faixa Etária</mat-label>
              <input formControlName="faixa_etaria" matInput type="text" />
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field class="text-field-formulario-edicao">
              <mat-label>Idade</mat-label>
              <input formControlName="idade" matInput type="text" />
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field class="text-field-formulario-edicao">
              <mat-label>Tamanho</mat-label>
              <input formControlName="tamanho" matInput type="text" />
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field class="text-field-formulario-edicao">
              <mat-label>Tipo</mat-label>
              <input formControlName="tipo" matInput type="text" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="row">
    <mat-card class="card-ficha">
      <div class="row mt-1 g-3">
        <div class="col-12 label">
          {{ 'PONTOS GASTOS: ' + points }}
        </div>
        <div class="col-12 col-sm-6 col-lg-2">
          <app-attribute [points]="points" [attribute]="for" (changePoints)="calculaPontos($event)"></app-attribute>
        </div>

        <div class="col-12 col-sm-6 col-lg-2">
          <app-attribute [points]="points" [attribute]="des" (changePoints)="calculaPontos($event)"></app-attribute>
        </div>

        <div class="col-12 col-sm-6 col-lg-2">
          <app-attribute [points]="points" [attribute]="con" (changePoints)="calculaPontos($event)"></app-attribute>
        </div>

        <div class="col-12 col-sm-6 col-lg-2">
          <app-attribute [points]="points" [attribute]="int" (changePoints)="calculaPontos($event)"></app-attribute>
        </div>

        <div class="col-12 col-sm-6 col-lg-2">
          <app-attribute [points]="points" [attribute]="sab" (changePoints)="calculaPontos($event)"></app-attribute>
        </div>

        <div class="col-12 col-sm-6 col-lg-2">
          <app-attribute [points]="points" [attribute]="car" (changePoints)="calculaPontos($event)"></app-attribute>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="row">
    <mat-card class="card-ficha">
      <div class="row mt-1 g-3">
        <div class="col-12 col-sm-6 col-lg-2">
          <div class="card-game">
            <div class="row">
              <div class="col-sm-12 mt-4">
                <mat-form-field class="text-field-formulario-edicao">
                  <mat-label style="color: rgb(68, 5, 18) !important">Pontos de Vida</mat-label>
                  <input formControlName="pontos_vida" matInput type="text" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <mat-form-field class="text-field-formulario-edicao">
                  <mat-label style="color: rgb(68, 5, 18) !important">Pontos de Mana</mat-label>
                  <input formControlName="pontos_mana" matInput type="text" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <mat-form-field class="text-field-formulario-edicao">
                  <mat-label style="color: rgb(68, 5, 18) !important">Defesa</mat-label>
                  <input formControlName="defesa" matInput type="text" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-2">
          <div class="card-game">
            <div class="row align-items-center mb-2">
              <div class="col-sm-12 mt-4">
                <mat-form-field class="text-field-formulario-edicao">
                  <mat-label style="color: rgb(68, 5, 18) !important">Ataque</mat-label>
                  <input formControlName="ataque" matInput type="text" />
                  <button
                    mat-icon-button
                    matSuffix
                    class="btn-adicionar"
                    aria-label="Adicionar ataque"
                    type="button"
                    (click)="adicionar('ataques', 'ataque')">
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-form-field>
                <table>
                  <thead>
                    <tr><th [colSpan]="2">Ataques</th></tr>
                  </thead>
                  <tbody>
                    @for (item of ataques; track $index) {
                      <tr>
                        <td>{{ item }}</td>
                        <td [width]="8">
                          <button
                            mat-icon-button
                            class="btn-adicionar"
                            style="padding: 10% !important; font-size: xx-small !important"
                            type="button"
                            (click)="remover('ataques', $index)">
                            <mat-icon>remove</mat-icon>
                          </button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-2">
          <div class="card-game">
            <div class="row align-items-center mb-2">
              <div class="col-sm-12 mt-4">
                <mat-form-field class="text-field-formulario-edicao">
                  <mat-label style="color: rgb(68, 5, 18) !important">Proficiência</mat-label>
                  <input formControlName="proficiencia" matInput type="text" />
                  <button
                    mat-icon-button
                    matSuffix
                    class="btn-adicionar"
                    aria-label="Adicionar proficiência"
                    type="button"
                    (click)="adicionar('proficiencias', 'proficiencia')">
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-form-field>
                <table>
                  <thead>
                    <tr><th [colSpan]="2">Proficiências</th></tr>
                  </thead>
                  <tbody>
                    @for (item of proficiencias; track $index) {
                      <tr>
                        <td>{{ item }}</td>
                        <td [width]="8">
                          <button
                            mat-icon-button
                            class="btn-adicionar"
                            style="padding: 10% !important; font-size: xx-small !important"
                            type="button"
                            (click)="remover('proficiencias', $index)">
                            <mat-icon>remove</mat-icon>
                          </button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-2">
          <div class="card-game">
            <div class="row align-items-center mb-2">
              <div class="col-sm-12 mt-4">
                <mat-form-field class="text-field-formulario-edicao">
                  <mat-label style="color: rgb(68, 5, 18) !important">Sentido</mat-label>
                  <input formControlName="sentido" matInput type="text" />
                  <button
                    mat-icon-button
                    matSuffix
                    class="btn-adicionar"
                    aria-label="Adicionar sentido"
                    type="button"
                    (click)="adicionar('sentidos', 'sentido')">
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-form-field>
                <table>
                  <thead>
                    <tr><th [colSpan]="2">Sentidos</th></tr>
                  </thead>
                  <tbody>
                    @for (item of sentidos; track $index) {
                      <tr>
                        <td>{{ item }}</td>
                        <td [width]="8">
                          <button
                            mat-icon-button
                            class="btn-adicionar"
                            style="padding: 10% !important; font-size: xx-small !important"
                            type="button"
                            (click)="remover('sentidos', $index)">
                            <mat-icon>remove</mat-icon>
                          </button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-2">
          <div class="card-game">
            <div class="row align-items-center mb-2">
              <div class="col-sm-12 mt-4">
                <mat-form-field class="text-field-formulario-edicao">
                  <mat-label style="color: rgb(68, 5, 18) !important">Deslocamento</mat-label>
                  <input formControlName="deslocamento" matInput type="text" />
                  <button
                    mat-icon-button
                    matSuffix
                    class="btn-adicionar"
                    aria-label="Adicionar deslocamento"
                    type="button"
                    (click)="adicionar('deslocamentos', 'deslocamento')">
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-form-field>
                <table>
                  <thead>
                    <tr><th [colSpan]="2">Deslocamentos</th></tr>
                  </thead>
                  <tbody>
                    @for (item of deslocamentos; track $index) {
                      <tr>
                        <td>{{ item }}</td>
                        <td [width]="8">
                          <button
                            mat-icon-button
                            class="btn-adicionar"
                            style="padding: 10% !important; font-size: xx-small !important"
                            type="button"
                            (click)="remover('deslocamentos', $index)">
                            <mat-icon>remove</mat-icon>
                          </button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-2">
          <div class="card-game">
            <div class="row align-items-center mb-2">
              <div class="col-sm-12 mt-4">
                <mat-form-field class="text-field-formulario-edicao">
                  <mat-label style="color: rgb(68, 5, 18) !important">Resistência</mat-label>
                  <input formControlName="resistencia" matInput type="text" />
                  <button
                    mat-icon-button
                    matSuffix
                    class="btn-adicionar"
                    aria-label="Adicionar resistência"
                    type="button"
                    (click)="adicionar('resistencias', 'resistencia')">
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-form-field>
                <table>
                  <thead>
                    <tr><th [colSpan]="2">Resistências</th></tr>
                  </thead>
                  <tbody>
                    @for (item of resistencias; track $index) {
                      <tr>
                        <td>{{ item }}</td>
                        <td [width]="8">
                          <button
                            mat-icon-button
                            class="btn-adicionar"
                            style="padding: 10% !important; font-size: xx-small !important"
                            type="button"
                            (click)="remover('resistencias', $index)">
                            <mat-icon>remove</mat-icon>
                          </button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="row">
    <mat-card class="card-ficha">
      <div class="row mt-1 g-3">
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="card-game">
            <div class="row align-items-center mb-2">
              <div class="col-sm-12 mt-4">
                <mat-form-field class="text-field-formulario-edicao">
                  <mat-label style="color: rgb(68, 5, 18) !important">Poder</mat-label>
                  <input formControlName="poder" matInput type="text" />
                  <button
                    mat-icon-button
                    matSuffix
                    class="btn-adicionar"
                    aria-label="Adicionar poder"
                    type="button"
                    (click)="adicionar('poderes', 'poder')">
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-form-field>
                <table>
                  <thead>
                    <tr><th [colSpan]="2">Poderes</th></tr>
                  </thead>
                  <tbody>
                    @for (item of poderes; track $index) {
                      <tr>
                        <td>{{ item }}</td>
                        <td [width]="8">
                          <button
                            mat-icon-button
                            class="btn-adicionar"
                            style="padding: 10% !important; font-size: xx-small !important"
                            type="button"
                            (click)="remover('poderes', $index)">
                            <mat-icon>remove</mat-icon>
                          </button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="card-game">
            <div class="row align-items-center mb-2">
              <div class="col-sm-12 mt-4">
                <mat-form-field class="text-field-formulario-edicao">
                  <mat-label style="color: rgb(68, 5, 18) !important">Pericia</mat-label>
                  <input formControlName="pericia" matInput type="text" />
                  <button
                    mat-icon-button
                    matSuffix
                    class="btn-adicionar"
                    aria-label="Adicionar perícia"
                    type="button"
                    (click)="adicionar('pericias', 'pericia')">
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-form-field>
                <table>
                  <thead>
                    <tr><th [colSpan]="2">Perícias</th></tr>
                  </thead>
                  <tbody>
                    @for (item of pericias; track $index) {
                      <tr>
                        <td>{{ item }}</td>
                        <td [width]="8">
                          <button
                            mat-icon-button
                            class="btn-adicionar"
                            style="padding: 10% !important; font-size: xx-small !important"
                            type="button"
                            (click)="remover('pericias', $index)">
                            <mat-icon>remove</mat-icon>
                          </button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="card-game">
            <div class="row align-items-center mb-2">
              <div class="col-sm-12 mt-4">
                <mat-form-field class="text-field-formulario-edicao">
                  <mat-label style="color: rgb(68, 5, 18) !important">Item</mat-label>
                  <input formControlName="item" matInput type="text" />
                  <button
                    mat-icon-button
                    matSuffix
                    class="btn-adicionar"
                    aria-label="Adicionar item"
                    type="button"
                    (click)="adicionar('itens', 'item')">
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-form-field>
                <table>
                  <thead>
                    <tr><th [colSpan]="2">Itens</th></tr>
                  </thead>
                  <tbody>
                    @for (item of itens; track $index) {
                      <tr>
                        <td>{{ item }}</td>
                        <td [width]="8">
                          <button
                            mat-icon-button
                            class="btn-adicionar"
                            style="padding: 10% !important; font-size: xx-small !important"
                            type="button"
                            (click)="remover('itens', $index)">
                            <mat-icon>remove</mat-icon>
                          </button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="card-game">
            <div class="row align-items-center mb-2">
              <div class="col-sm-12 mt-4">
                <mat-form-field class="text-field-formulario-edicao">
                  <mat-label style="color: rgb(68, 5, 18) !important">Magia</mat-label>
                  <input formControlName="magia" matInput type="text" />
                  <button
                    mat-icon-button
                    matSuffix
                    class="btn-adicionar"
                    aria-label="Adicionar magia"
                    type="button"
                    (click)="adicionar('magias', 'magia')">
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-form-field>
                <table>
                  <thead>
                    <tr><th [colSpan]="2">Magias</th></tr>
                  </thead>
                  <tbody>
                    @for (item of magias; track $index) {
                      <tr>
                        <td>{{ item }}</td>
                        <td [width]="8">
                          <button
                            mat-icon-button
                            class="btn-adicionar"
                            style="padding: 10% !important; font-size: xx-small !important"
                            type="button"
                            (click)="remover('magias', $index)">
                            <mat-icon>remove</mat-icon>
                          </button>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="row">
    <div class="col-sm-12 mt-2">
      <section>
        <div class="button-row d-flex justify-content-end">
          <button class="me-2" mat-flat-button>Carregar</button>
          <button class="me-2" mat-flat-button (click)="exportar()">Exportar</button>
          <button class="me-2" mat-flat-button>Salvar</button>
        </div>
      </section>
    </div>
  </div>

  <app-card-personagem
    [nome_jogador]="form.value.nome_jogador"
    [nome_personagem]="form.value.nome_personagem"
    [raca]="form.value.raca"
    [origem]="form.value.origem"
    [classe]="form.value.classe"
    [devocao]="form.value.devocao"
    [forca]="for.total!"
    [destreza]="des.total!"
    [constituicao]="con.total!"
    [inteligencia]="int.total!"
    [sabedoria]="sab.total!"
    [carisma]="car.total!"
    [pontos_vida]="form.value.pontos_vida"
    [pontos_mana]="form.value.pontos_mana"
    [defesa]="form.value.defesa"
    [faixa_etaria]="form.value.faixa_etaria"
    [idade]="form.value.idade"
    [tamanho]="form.value.tamanho"
    [tipo]="form.value.tipo"
    [ataques]="ataques"
    [proficiencias]="proficiencias"
    [sentidos]="sentidos"
    [deslocamentos]="deslocamentos"
    [resistencias]="resistencias"
    [poderes]="poderes"
    [pericias]="pericias"
    [itens]="itens"
    [magias]="magias"
    [personagemImg]="personagemPreview"
    [tokenImg]="tokenPreview"
    #card />
</form>
