<app-card-search
  name="Ameaças"
  [service]="service"
  [searchColumn]="['nome', 'grupo']"
  [colsGrid]="2"
  [suggestions]="[]"
  [rowHeight]="900"
  gutterSizeGrid="10px">
  <ng-template let-item>
    <mat-card class="card-game">
      <mat-card-title class="titulo-cartao-apresentacao interior-cartao interior-cartao-condicoes">
        <div class="row">
          <div class="col-sm-7 mt-1 d-flex">
            {{ '[ND ' + (item.nd === 0.5 ? '1/2' : item.nd === 0.25 ? '1/4' : item.nd) + '] ' + item.nome }}
          </div>
          <div class="col-sm-5 mt-1 d-flex justify-content-end">
            {{ item.grupo }}
          </div>
        </div>
      </mat-card-title>
      <mat-card-content class="interior-cartao interior-cartao-condicoes content-cartao-condicoes">
        <div class="row">
          <div class="col-sm-6 mt-4 d-flex">
            {{ item.tipo + ' ' + item.tamanho + ' (' + item.papel + ')' }}
          </div>
          <div class="col-sm-6 mt-4 d-flex justify-content-end">
            {{ item.referencia }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <hr />
          </div>
        </div>
        <div class="content mt-2">
          <div class="row">
            <div class="col-sm-12 mt-2">
              <mat-tab-group>
                @if (item.imagem) {
                  <mat-tab label="Imagem">
                    <img [src]="item.imagem" style="height: 600px !important" />
                  </mat-tab>
                }
                <mat-tab label="Estatísticas">
                  <div class="mt-4" style="text-align: justify; margin-bottom: 1em; line-height: 1.6">
                    <p>
                      <b>Iniciativa:</b>
                      {{ item.iniciativa }},
                      <b>Percepção:</b>
                      {{ item.percepcao }}
                      @for (sentido of item.sentidos; track $index) {
                        {{ ', ' + sentido }}
                      }
                    </p>
                    <p>
                      <b>Defesa:</b>
                      {{ item.defesa }},
                      <b>For:</b>
                      + {{ item.fortitude }},
                      <b>Ref:</b>
                      + {{ item.reflexos }},
                      <b>Von:</b>
                      + {{ item.vontade }},
                    </p>
                    <p>
                      <b>Pontos de Vida:</b>
                      {{ item.vida }}
                    </p>
                    @if (item.mana > 0) {
                      <p>
                        <b>Pontos de Mana:</b>
                        {{ item.mana }}
                      </p>
                    }
                    <p>
                      <b>Deslocamento:</b>
                      {{ item.deslocamento_terrestre + 'm (' + item.deslocamento_terrestre / 1.5 + 'q)' }}
                      @if (item.deslocamento_natacao > 0) {
                        , natação {{ item.deslocamento_natacao + 'm (' + item.deslocamento_natacao / 1.5 + 'q)' }}
                      }
                      @if (item.deslocamento_escalada > 0) {
                        , escalada {{ item.deslocamento_escalada + 'm (' + item.deslocamento_escalada / 1.5 + 'q)' }}
                      }
                      @if (item.deslocamento_escavacao > 0) {
                        , escavação {{ item.deslocamento_escavacao + 'm (' + item.deslocamento_escavacao / 1.5 + 'q)' }}
                      }
                      @if (item.deslocamento_voo > 0) {
                        , voo {{ item.deslocamento_voo + 'm (' + item.deslocamento_voo / 1.5 + 'q)' }}
                      }
                    </p>
                  </div>
                  <div class="col-sm-12">
                    <hr />
                  </div>
                  <div class="mt-4" style="text-align: justify; margin-bottom: 1em; line-height: 1.6">
                    @if (item.ataques_corpo != null && item.ataques_corpo.length > 0) {
                      <p>
                        <b>Corpo a Corpo</b>
                        @for (corpo of item.ataques_corpo; track $index) {
                          {{
                            ' ' +
                              corpo.nome +
                              ' +' +
                              corpo.acerto +
                              ' (' +
                              corpo.dado_dano +
                              '+' +
                              corpo.dano +
                              ' ' +
                              corpo.tipo_dano +
                              ') alcance ' +
                              corpo.alcance +
                              'm'
                          }}
                          @if (corpo.conecta_habilidade.length > 0) {
                            {{ ' mais ' + corpo.conecta_habilidade }}
                          }
                          ,
                        }
                      </p>
                    }
                    @if (item.ataques_distancia != null && item.ataques_distancia.length > 0) {
                      <p>
                        <b>Corpo a Corpo</b>
                        @for (distancia of item.ataques_distancia; track $index) {
                          {{
                            ' ' +
                              distancia.nome +
                              ' +' +
                              distancia.acerto +
                              ' (' +
                              distancia.dado_dano +
                              '+' +
                              distancia.dano +
                              ' ' +
                              distancia.tipo_dano +
                              ') alcance ' +
                              distancia.alcance +
                              'm'
                          }}
                          @if (distancia.conecta_habilidade.length > 0) {
                            {{ ' mais ' + distancia.conecta_habilidade }}
                          }
                          ,
                        }
                      </p>
                    }
                    @for (habilidade of item.habilidades; track $index) {
                      <p>
                        <b>{{ habilidade.nome }}:</b>
                        {{ habilidade.descricao }}
                      </p>
                    }
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <hr />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 align-items-center" style="text-align: center">
                      <b>FOR</b>
                      {{ item.atributo_forca }}
                      <b>DES</b>
                      {{ item.atributo_destreza }}
                      <b>CON</b>
                      {{ item.atributo_constituicao }}
                      <b>INT</b>
                      {{ item.atributo_inteligencia }}
                      <b>SAB</b>
                      {{ item.atributo_sabedoria }}
                      <b>CAR</b>
                      {{ item.atributo_carisma }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <hr />
                    </div>
                  </div>
                  <div class="" style="text-align: justify; margin-bottom: 1em; line-height: 1.6">
                    <p>
                      <b>Perícias</b>
                      @for (pericia of item.pericias; track $index) {
                        {{ pericia.nome + ' +' + pericia.valor + ', ' }}
                      }
                    </p>
                  </div>
                </mat-tab>
                <mat-tab label="Espólios">
                  <div class="row mt-2">
                    <h5>Recursos</h5>
                  </div>
                  <div class="mt-2" style="text-align: justify; margin-bottom: 1em; line-height: 1.6">
                    <p>
                      <b>Equipamentos:</b>
                      {{ item.equipamentos }}
                    </p>
                    <p>
                      <b>Tesouros:</b>
                      {{ item.tesouros }}
                    </p>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <hr />
                    </div>
                  </div>
                  <h5>Recursos Naturais (Sobrevivência {{ 15 + item.nd }} para extrair)</h5>
                  <p>
                    Certas criaturas, como dragões, elementais e monstros peçonhentos, fornecem recursos específicos
                    como parte de seus tesouros. Entretanto, existem outros materiais de grande utilidade que podem ser
                    extraídos de ameaças. Esta seção apresenta regras opcionais para mestres que desejam usar esse tipo
                    de tesouro em suas aventuras.
                  </p>
                  <p>
                    Recursos naturais podem ser incluídos em qualquer criatura que já não possua um recurso especial, e
                    podem complementar seu tesouro normal ou substituí-lo (a critério do mestre). Para usar um desses
                    recursos, escolha um tipo apropriado à criatura em questão. Alternativamente, você pode rolar na
                    linha referente ao tipo da criatura na Tabela 3-5: Recursos Naturais. A quantidade de recursos
                    fornecida depende do tamanho da criatura; criaturas Pequenas e Médias fornecem 1 unidade do recurso,
                    criaturas Grandes e Enormes fornecem 2 unidades e criaturas Colossais fornecem 5 unidades. Criaturas
                    Minúsculas são muito pequenas para produzir recursos. Embora seja possível extrair recursos de
                    criaturas inteligentes, isso pode ser considerado um tabu, um crime ou simplesmente um ato hediondo,
                    dependendo de onde os aventureiros estiverem.
                  </p>
                  <p>
                    Recursos naturais são extraídos como recursos especiais; exigem uma hora de trabalho e um sucesso em
                    um teste de Sobrevivência ou de um Ofício relacionado ao recurso, com CD 15 + ND da criatura
                    <b>({{ 15 + item.nd }})</b>
                    . Em caso de falha, os recursos são estragados.
                  </p>
                  <div class="row mt-2">
                    <table>
                      <thead>
                        <tr><th colspan="8">Recursos Naturais</th></tr>
                        <tr>
                          <th>Tipo de Criatura (1d6)</th>
                          <th>Carapaça</th>
                          <th>Couro</th>
                          <th>Fonte</th>
                          <th>Ingrediente</th>
                          <th>Mantimento</th>
                          <th>Osso</th>
                          <th>Sucata</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr [class.linha-destaque]="'Animal' == item.tipo">
                          <td>Animal</td>
                          <td>1</td>
                          <td>2-3</td>
                          <td>-</td>
                          <td>-</td>
                          <td>4-5</td>
                          <td>6</td>
                          <td>-</td>
                        </tr>
                        <tr [class.linha-destaque]="'Construto' == item.tipo">
                          <td>Construto</td>
                          <td>1-2</td>
                          <td>-</td>
                          <td>3</td>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                          <td>5-6</td>
                        </tr>

                        <tr [class.linha-destaque]="'Espírito' == item.tipo">
                          <td>Espírito</td>
                          <td>-</td>
                          <td>-</td>
                          <td>1-3</td>
                          <td>4-6</td>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr [class.linha-destaque]="'Humanóide' == item.tipo">
                          <td>Humanóide</td>
                          <td>1</td>
                          <td>2</td>
                          <td>3</td>
                          <td>-</td>
                          <td>4</td>
                          <td>5-6</td>
                          <td>-</td>
                        </tr>
                        <tr [class.linha-destaque]="'Monstro' == item.tipo">
                          <td>Monstro</td>
                          <td>1</td>
                          <td>2</td>
                          <td>3</td>
                          <td>4</td>
                          <td>5</td>
                          <td>6</td>
                          <td>-</td>
                        </tr>
                        <tr [class.linha-destaque]="'Morto-vivo' == item.tipo">
                          <td>Morto-vivo</td>
                          <td>1</td>
                          <td>-</td>
                          <td>2-3</td>
                          <td>-</td>
                          <td>-</td>
                          <td>4-6</td>
                          <td>-</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td [colSpan]="8">* Use essa linha para criaturas incorpóreas de qualquer tipo.</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  @if (item.se_parceiro) {
                    <div class="row">
                      <div class="col-sm-12">
                        <hr />
                      </div>
                    </div>
                    <div class="row">
                      <h5>
                        Treinando Criaturas Selvagens - Adestramento
                        {{ 15 + item.nd + ', Total de Sucessos ' + (3 + item.nd) + '/3 Falhas' }}
                      </h5>
                      <p>
                        As duas formas mais comuns para um personagem obter uma montaria é por meio de uma habilidade,
                        como Companheiro Animal e Montaria Sagrada, ou usando tibares para comprar um cavalo, trobo ou
                        outra das montarias comumente disponíveis nos mercados de Arton. Entretanto, existe outra
                        maneira: treinar uma criatura selvagem.
                      </p>
                      <p>
                        O primeiro passo para treinar uma criatura é domá-la. Para isso, você precisa capturar a
                        criatura (por meio de uma armadilha, magia etc.) ou derrotá-la em combate. Após isso, deve fazer
                        um teste de Adestramento (CD 15 + ND da criatura). Se passar, você doma a criatura e pode
                        começar a treiná-la. Se falhar, a criatura é muito selvagem para ser treinada.
                      </p>
                      <p>
                        Uma vez que a criatura seja domada, é hora de começar seu treinamento. Isso é um teste estendido
                        de Adestramento (CD 15 + ND da criatura), no qual é necessário um total de sucessos igual a 3 +
                        ND da criatura antes de 3 falhas. Cada teste representa um dia de trabalho e você recebe um
                        bônus cumulativo de +1 para cada sucesso consecutivo. Se passar no teste estendido, transforma a
                        criatura em um parceiro montaria iniciante. Se falhar, precisa começar o treinamento do início.
                      </p>
                      <p>
                        Treinar uma criatura selvagem exige tempo e dedicação. O treinador se torna responsável pela
                        criatura e deve cuidar de sua alimentação, saúde e segurança. Além disso, precisa passar tempo
                        suficiente a seu lado para que ela se acostume com sua presença. Por isso, durante o período de
                        treinamento, você sofre uma penalidade de –2 em testes de perícia e sua recuperação de PM por
                        descanso diminui em um nível.
                      </p>
                    </div>
                  }
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>
</app-card-search>
