.tesouro {
  overflow: visible !important;
}

.mdc-card .card-game {
  margin-top: 0% !important;
  margin-bottom: 0% !important;
  color: white !important;
}

label {
  color: white !important;
}

td {
  font-size: 12px !important;
  padding: 0px 5px !important;
}

.icone-dinheiro {
  margin: 0% !important;
  padding: 0% !important;
  width: 36px;
  height: 36px;
  max-height: 36px !important;
  object-fit: contain !important;
  background-color: transparent !important;
}

.icone-itens {
  margin: 0% !important;
  padding: 0% !important;
  padding-bottom: 50% !important;
  width: 62px;
  height: 62px;
  max-height: 62px !important;
  object-fit: contain !important;
  background-color: transparent !important;
}

.icone-tesouros {
  margin: 0% !important;
  padding: 0% !important;
  width: 36px;
  height: 36px;
  max-height: 36px !important;
  object-fit: contain !important;
  background-color: transparent !important;
}
