.tesouro {
  overflow: visible !important;
}

.mdc-card .card-game {
  margin-top: 0% !important;
  margin-bottom: 0% !important;
  color: white !important;
}

label {
  color: white !important;
}

td {
  font-size: 10px !important;
  padding: 0px 5px !important;
}
