<form [formGroup]="formulario">
<div class="container">
  <div class="row mt-1" style="margin-right: 0.5% !important">
    <div class="col-sm-12">
      <mat-card>
        <h2><b>GERAÇÃO DE TEROUROS</b></h2>
        <hr />
        <label><b class="negrito-centralizado" style="text-justify: center !important">
            PREENCHA O NÍVEL DE DESAFIO E SE É TESOURO PADRÃO, METADE OU DOBRO</b></label>
        <div class="row">
            <div class="col-sm-6 mt-4">
              <mat-form-field class="select-dobrado">
                <mat-label>Nível de Desafio</mat-label>
                <mat-select formControlName="nivel">
                  @for (nivel of niveis; track nivel) {
                  <mat-option [value]="nivel">{{
                    nivel
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6 mt-4">
              <mat-form-field class="select-dobrado">
                <mat-label>Tipo de Tesouro</mat-label>
                <mat-select formControlName="tipo">
                  @for (tipo of tipos; track tipo) {
                  <mat-option [value]="tipo">{{
                    tipo
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
        </div>
          <div class="row">
            <div class="col-sm-12">
                <section>
                    <div class="button-row d-flex justify-content-end">
                        <button class="me-2" (click)="gerarTesouro()" [disabled]="!this.formulario.get('nivel')?.value || !this.formulario.get('tipo')?.value" mat-flat-button>
                            Gerar Tesouro
                        </button>
                    </div>
                </section>
            </div>
          </div>
          <hr>
          <mat-accordion class="mb-4 mt-4">
            <mat-expansion-panel [disabled]="dinheiro.length===0" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-12">
                        <b>TESOURO: {{dinheiro}}</b>
                      </div>
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-sm-12">
                  <div
                    class="col-sm-6 mt-1 text-justify"
                    [innerHTML]="detalhesTesouroDinheiro">
                  </div>
                  <div
                    class="col-sm-6 mt-1 text-justify"
                    [innerHTML]="detalhesTesouroItens">
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
      </mat-card>
    </div>
  </div>
</div>
</form>
