<app-card-search
  name="Deuses"
  [service]="deusesService"
  [searchColumn]="['nome', 'descricao', 'referencias']"
  [colsGrid]="2"
  [rowHeight]="900"
  gutterSizeGrid="10px">
  <ng-template let-item>
    <mat-card class="card-game">
      <mat-card-title class="titulo-cartao-apresentacao interior-cartao interior-cartao-condicoes">
        {{ item.nome }}
      </mat-card-title>
      <mat-card-content class="interior-cartao interior-cartao-condicoes content-cartao-condicoes">
        <div class="row mt-1 mb-2">
          <div class="col-sm-12 mt-1 d-flex justify-content-end">
            {{ item.referencias + ', pag. ' + item.paginas }}
          </div>
        </div>
        <div class="content">
          <div class="row mt-4 mb-4">
            <div class="col-sm-12">
              <div class="d-flex flex-wrap gap-2">
                <button *ngIf="item.tipo" class="btn btn-sm btn-outline-secondary" disabled>
                  {{ item.tipo }}
                </button>
                <button *ngIf="item.status" class="btn btn-sm btn-outline-secondary" disabled>
                  {{ 'Status Divino: ' + item.status }}
                </button>
                <button *ngIf="item.canalizaEnergia" class="btn btn-sm btn-outline-secondary" disabled>
                  {{ 'Canaliza Energia: ' + item.canalizaEnergia }}
                </button>
                @if (item.dominios) {
                  @for (dominio of item.dominios; track dominio) {
                    <button class="btn btn-sm btn-outline-secondary" disabled>
                      {{ item.dominios[0] === dominio ? 'Domínios: ' + dominio : dominio }}
                    </button>
                  }
                }
                <button *ngIf="item.natureza" class="btn btn-sm btn-outline-secondary" disabled>
                  {{ 'Natureza da Ascenção: ' + item.natureza }}
                </button>
              </div>
            </div>
          </div>
          <mat-tab-group>
            <mat-tab label="Símbolo" *ngIf="item.simbolo">
              <img [src]="item.simbolo" style="height: 600px !important" />
            </mat-tab>
            <mat-tab label="Deus" *ngIf="item.imagem">
              <img [src]="item.imagem" style="height: 600px !important" />
            </mat-tab>
            <mat-tab label="Descrição">
              <div class="row mt-2">
                <div class="col-sm-12 text-justify" [innerHTML]="item.descricao"></div>
              </div>
            </mat-tab>
            <mat-tab label="Poderes Concedidos" *ngIf="item.poderes && item.poderes.length > 0">
              <div class="row mt-2">
                <p>ps: poderes mágicos são marcadas com o símbolo:✨</p>
                <div class="col-sm-12">
                  <div
                    *ngFor="let poder of item.poderes"
                    style="text-align: justify; margin-bottom: 1em; line-height: 1.6">
                    <b>{{ poder.nome }}</b>
                    <div class="text-justify" [innerHTML]="poder.descricao"></div>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>
</app-card-search>
