<div class="container">
    <mat-tab-group>
        <mat-tab label="Conceitos">
            <div class="row">
                <div class="col-sm-6 mt-4">
                    <mat-card class="card-padrao" *ngIf="regraSelecionada?.descricao"
                        style="background-color: rgb(120, 80, 160) !important; color: white;">
                        <div class="row">
                            <div class="col-sm-12" style="color: white !important;">
                                <b style="color: white !important; font-size: large !important;">{{
                                    regraSelecionada?.nome?.toUpperCase() }}</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <hr class="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 d-flex justify">
                                <div [innerHTML]="regraSelecionada?.descricao"></div>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-sm-6 mt-4">
                    <mat-tree #tree *ngIf="dataSourceRegraTree.length > 0" [dataSource]="dataSourceRegraTree"
                        [childrenAccessor]="childrenAccessor">
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                            <!-- <button matIconButton disabled></button> -->
                            <a matButton (click)="selecionaRegra(node)" target="_blank"
                                style="cursor: pointer !important;">{{node.nome}}</a>
                        </mat-tree-node>
                        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                            [cdkTreeNodeTypeaheadLabel]="node.nome">
                            <button matIconButton matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.nome"
                                class="no-arvore">
                                <mat-icon class="mat-icon-rtl-mirror" class="no-arvore">
                                    {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                            <a matButton (click)="selecionaRegra(node)" target="_blank"
                                style="cursor: pointer !important;">{{node.nome}}</a>
                        </mat-tree-node>
                    </mat-tree>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Itens">
            <div class="row mt-4">
                <form [formGroup]="form">
                    <div class="container-fluid">
                        <div class="row g-3">
                            <div class="col-sm-3 mt-4">
                                <mat-form-field class="form-field">
                                    <mat-label>Digite o Equipamento</mat-label>
                                    <input formControlName="nome" matInput type="text"
                                        (keyup)="consultar(false, '15. Escudo')" />
                                </mat-form-field>
                            </div>
                            <!-- <div class="col-sm-6 mt-4">
                                <mat-form-field class="select-dobrado">
                                    <mat-label>Regra</mat-label>
                                    <mat-select formControlName="chave" (selectionChange)="consultar(true, '1. Arma')">
                                        @for (chave of chaves; track chave) {
                                        <mat-option [value]="chave">{{
                                            chave
                                            }}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-sm-12 mt-4 button-row d-flex justify-content-end">
                                <button *ngIf="edicao" class="me-2" (click)="novo()" mat-flat-button>
                                    Novo Equipamento
                                </button>
                                <button *ngIf="edicao" class="me-2" (click)="salvar()" mat-flat-button>
                                    Salvar no Banco
                                </button>
                                <button class="me-2" (click)="limparFiltros()" mat-flat-button>
                                    Limpar Filtros
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mt-4">
                            <mat-card class="card-padrao" *ngIf="objeto">
                                <mat-card-title
                                    class="titulo-cartao-apresentacao interior-cartao interior-cartao-condicoes">
                                    <div class="content" *ngIf="!edicao">
                                        <div *ngIf="!edicao" class="row">
                                            <div class="col-sm-12">
                                                {{ objeto.nome }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content" *ngIf="edicao">
                                        <div *ngIf="edicao" class="row">
                                            <div class="col-sm-6 mt-4">
                                                <mat-form-field class="text-field-formulario-edicao">
                                                    <mat-label>Digite o nome do item</mat-label>
                                                    <input formControlName="nomeSb" matInput type="text" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-6 mt-4">
                                                <mat-form-field class="select-formulario-edicao">
                                                    <mat-label>Tipo do Item</mat-label>
                                                    <mat-select formControlName="idTipo">
                                                        <mat-option *ngFor="let tipo of tiposItem" [value]="tipo.id">
                                                            {{ tipo.nome }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-title>
                                <mat-card-content
                                    class="interior-cartao interior-cartao-condicoes content-cartao-itens">
                                    <div class="content">
                                        <mat-tab-group>
                                            <mat-tab label="Descrição">
                                                <div class="content" *ngIf="!edicao">
                                                    <div class="col-sm-12">
                                                        <hr class="" />
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 d-flex justify-content-end">
                                                            {{
                                                            (referenciaItem ? referenciaItem.nome : objeto.referencias)
                                                            + ",
                                                            pag. " + (itemSB?.paginas ? itemSB?.paginas :
                                                            objeto.paginas)
                                                            }}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <hr class="" />
                                                    </div>
                                                </div>
                                                <div class="row" *ngIf="!edicao">
                                                    <div class="col-sm-12 mt-2 button-row">
                                                        <section class="d-flex flex-wrap gap-2">
                                                            @for (regra of regrasItem; track regra.id_regra) {
                                                            <button class="me-2" mat-flat-button
                                                                (click)="removerRegra(regra)" disabled>
                                                                {{ regra.tb_regra?.nome }}
                                                            </button>
                                                            }
                                                        </section>
                                                    </div>
                                                </div>
                                                <div class="row" *ngIf="!edicao">
                                                    <div class="col-sm-12">
                                                        <hr class="" />
                                                    </div>
                                                </div>
                                                <div *ngIf="edicao" class="content">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <hr class="" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <mat-form-field class="select-formulario-edicao">
                                                                <mat-label>Referência</mat-label>
                                                                <mat-select formControlName="idReferencia">
                                                                    <mat-option *ngFor="let referencia of referencias"
                                                                        [value]="referencia.id">
                                                                        {{ referencia.nome }}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <mat-form-field class="text-field-formulario-edicao">
                                                                <mat-label>Digite as páginas</mat-label>
                                                                <input formControlName="paginas" matInput type="text" />
                                                            </mat-form-field>
                                                        </div>
                                                        <hr class="" />
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <mat-form-field class="select-formulario-edicao">
                                                            <mat-label>Regra</mat-label>
                                                            <mat-select formControlName="idRegra"
                                                                (selectionChange)="adicionarRegra($event)">
                                                                <mat-option *ngFor="let regra of regras"
                                                                    [value]="regra.id">
                                                                    {{ regra.nome }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 mt-2 button-row">
                                                            <section class="d-flex flex-wrap gap-2">
                                                                @for (regra of regrasItem; track regra.id_regra) {
                                                                <button class="me-2" mat-flat-button
                                                                    (click)="removerRegra(regra)">
                                                                    {{ regra.tb_regra?.nome }}
                                                                </button>
                                                                }
                                                            </section>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <hr class="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="objeto.imagem" class="row">
                                                    <div *ngIf="!edicao" class="col-sm-8"
                                                        [innerHTML]="itemSB?.descricao ? itemSB?.descricao : objeto.descricao">
                                                    </div>
                                                    <div *ngIf="edicao" class="col-sm-8">
                                                        <mat-form-field class="text-field-formulario-edicao">
                                                            <mat-label>Digite a descrição do item</mat-label>
                                                            <textarea *ngIf="edicao" formControlName="descricao"
                                                                rows="5" matInput></textarea>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <mat-card>
                                                            <img [src]="objeto.imagem" />
                                                        </mat-card>
                                                    </div>
                                                </div>
                                                <div *ngIf="!objeto.imagem" class="row">
                                                    <div *ngIf="!edicao" class="col-sm-12"
                                                        [innerHTML]="itemSB?.descricao ? itemSB?.descricao : objeto.descricao">
                                                    </div>
                                                    <div *ngIf="edicao" class="col-sm-12">
                                                        <mat-form-field class="text-field-formulario-edicao">
                                                            <mat-label>Digite a descrição do item</mat-label>
                                                            <textarea *ngIf="edicao" formControlName="descricao"
                                                                rows="5" matInput></textarea>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </mat-tab>
                                            <mat-tab label="Estatísticas">
                                                <div *ngIf="!edicao" class="content">
                                                    <div class="row">
                                                        <div class="col-sm-6 mt-4">Defesa</div>
                                                        <div class="col-sm-6 mt-4 d-flex justify-content-end">
                                                            {{ objeto.defesa }}
                                                        </div>
                                                        <hr />
                                                    </div>
                                                    <div *ngIf="!edicao" class="row">
                                                        <div class="col-sm-6">Penalidade</div>
                                                        <div class="col-sm-6 d-flex justify-content-end">
                                                            {{ objeto.penalidade }}
                                                        </div>
                                                        <hr />
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">Espaço</div>
                                                        <div class="col-sm-6 d-flex justify-content-end">
                                                            {{ objeto.espaco }}
                                                        </div>
                                                        <hr />
                                                    </div>
                                                </div>
                                                <div *ngIf="edicao" class="content">
                                                    <div class="row">
                                                        <div class="col-sm-4 mt-4">
                                                            <mat-form-field class="text-field-formulario-edicao">
                                                                <mat-label>Digite a defesa</mat-label>
                                                                <input formControlName="defesa" matInput type="text" />
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-sm-4 mt-4">
                                                            <mat-form-field class="text-field-formulario-edicao">
                                                                <mat-label>Digite a penalidade</mat-label>
                                                                <input formControlName="penalidade" matInput
                                                                    type="number" [disabled]="true" />
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-sm-4 mt-4">
                                                            <mat-form-field class="text-field-formulario-edicao">
                                                                <mat-label>Digite o espaço</mat-label>
                                                                <input formControlName="espaco" matInput
                                                                    type="number" />
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-tab>
                                            <mat-tab label="Fabricação">
                                                <div *ngIf="!edicao" class="content">
                                                    <div class="row">
                                                        <div class="col-sm-6 mt-4">RD</div>
                                                        <div class="col-sm-6 mt-4 d-flex justify-content-end">
                                                            {{ objeto.rd }}
                                                        </div>
                                                        <hr />
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">PV's</div>
                                                        <div class="col-sm-6 d-flex justify-content-end">
                                                            {{ objeto.pv }}
                                                        </div>
                                                        <hr />
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">Preço</div>
                                                        <div class="col-sm-6 d-flex justify-content-end">
                                                            {{ "T$ " + objeto.preco }}
                                                        </div>
                                                        <hr />
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            Perícia para Fabricação/Conserto
                                                        </div>
                                                        <div class="col-sm-6 d-flex justify-content-end">
                                                            {{ objeto.pericia_fabricacao_conserto }}
                                                        </div>
                                                        <hr />
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            CD para Fabricação/Conserto
                                                        </div>
                                                        <div class="col-sm-6 d-flex justify-content-end">
                                                            {{ objeto.cd_fabricacao }}
                                                        </div>
                                                        <hr />
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">Custo de Fabricação</div>
                                                        <div class="col-sm-6 d-flex justify-content-end">
                                                            {{ "T$ " + umTerco(objeto.preco!) }}
                                                        </div>
                                                        <hr />
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            Tempo de Fabricação (Em Horas)
                                                        </div>
                                                        <div class="col-sm-6 d-flex justify-content-end">
                                                            {{ objeto.tempo_fabricacao_em_horas! >= 160 ? '1 mês':
                                                            objeto.tempo_fabricacao_em_horas!
                                                            >=
                                                            40 ? '1 semana': '1 dia'}}
                                                        </div>
                                                        <hr />
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">Custo para Conserto</div>
                                                        <div class="col-sm-6 d-flex justify-content-end">
                                                            {{ "T$ " + umDecimo(objeto.preco!) }}
                                                        </div>
                                                        <hr />
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            Tempo de Conserto (Em Horas)
                                                        </div>
                                                        <div class="col-sm-6 d-flex justify-content-end">
                                                            {{ 1 }}
                                                        </div>
                                                        <hr />
                                                    </div>
                                                </div>
                                                <div *ngIf="edicao" class="content">
                                                    <div class="row">
                                                        <div class="col-sm-4 mt-4">
                                                            <mat-form-field class="text-field-formulario-edicao">
                                                                <mat-label>RD</mat-label>
                                                                <input formControlName="rd" matInput type="number" />
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-sm-4 mt-4">
                                                            <mat-form-field class="text-field-formulario-edicao">
                                                                <mat-label>PV</mat-label>
                                                                <input formControlName="pv" matInput type="number" />
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-sm-4 mt-4">
                                                            <mat-form-field class="text-field-formulario-edicao">
                                                                <mat-label>Preço</mat-label>
                                                                <input formControlName="preco" matInput type="text" />
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4 mt-2">
                                                            <mat-form-field class="text-field-formulario-edicao">
                                                                <mat-label>CD</mat-label>
                                                                <input formControlName="cd" matInput type="number" />
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-sm-4 mt-2">
                                                            <mat-form-field class="select-formulario-edicao">
                                                                <mat-label>Tempo</mat-label>
                                                                <mat-select formControlName="tempo"
                                                                    (selectionChange)="adicionarRegra($event)">
                                                                    <mat-option *ngFor="let tempo of tempos"
                                                                        [value]="tempo">
                                                                        {{ tempo }}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-sm-4 mt-2">
                                                            <mat-form-field class="select-formulario-edicao">
                                                                <mat-label>Perícia</mat-label>
                                                                <mat-select formControlName="idPericia"
                                                                    (selectionChange)="adicionarPericia($event)">
                                                                    <mat-option *ngFor="let pericia of pericias"
                                                                        [value]="pericia.id">
                                                                        {{ pericia.nome }}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 mt-2 button-row">
                                                            <section class="d-flex flex-wrap gap-2">
                                                                @for (periciaItem of periciasItem; track periciaItem.id)
                                                                {
                                                                <button class="me-2" mat-flat-button
                                                                    (click)="removerPericia(periciaItem)">
                                                                    {{ periciaItem.tb_pericia?.nome }}
                                                                </button>
                                                                }
                                                            </section>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-tab>
                                        </mat-tab-group>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-sm-6 mt-4">
                            <mat-card class="card-padrao">
                                <div class="mb-2">
                                    <div class="d-flex justify-content-end">
                                        <b>Número de Registros: {{ numero_registros }}</b>
                                    </div>
                                </div>
                                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                                    <ng-container matColumnDef="nome">
                                        <th mat-header-cell *matHeaderCellDef>
                                            Nome
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.nome }}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="acao">
                                        <th mat-header-cell *matHeaderCellDef>Ações</th>
                                        <td mat-cell *matCellDef="let element">
                                            <button class="meuBotao" mat-icon-button color="primary"
                                                (click)="seleciona(element)">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <mat-icon
                                                            [ngClass]="{'zebra': isOdd(element)}">zoom_in</mat-icon>
                                                    </div>
                                                </div>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let element; columns: displayedColumns"
                                        [ngClass]="{'zebra': isOdd(element)}">
                                    </tr>
                                </table>
                                <mat-paginator [length]="numero_registros" [pageSizeOptions]="[
                                    10,
                                    20,
                                    50,
                                    100,
                                    numero_registros ? numero_registros : 200
                                    ]" showFirstLastButtons aria-label="Select page of periodic elements">
                                </mat-paginator>
                            </mat-card>
                        </div>
                    </div>
                </form>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>