<mat-card>
  @if (isMobile) {
    <div class="row">
      <div class="col-12">
        <app-card-presentation
          [titulo]="titulo_menu_personagem"
          [caminho_imagem]="caminho_imagem_menu_personagem"
          [descricao]="descricao_menu_personagem"
          [links]="links_menu_personagem"></app-card-presentation>
      </div>
    </div>
  } @else {
    <div class="row">
      <div class="col-4">
        <app-card-presentation
          [titulo]="titulo_menu_personagem"
          [caminho_imagem]="caminho_imagem_menu_personagem"
          [descricao]="descricao_menu_personagem"
          [links]="links_menu_personagem"></app-card-presentation>
      </div>
      <div class="col-4">
        <app-card-presentation
          [titulo]="titulo_menu_item"
          [caminho_imagem]="caminho_imagem_menu_item"
          [descricao]="descricao_menu_item"
          [links]="links_menu_item"></app-card-presentation>
      </div>
    </div>
  }
</mat-card>
