.mat-mdc-icon-button[disabled],
.mat-mdc-icon-button.mat-mdc-button-disabled {
  background-color: lightgrey !important;
  color: rgb(45, 35, 60) !important;
}

.mat-mdc-button-disabled {
  background-color: lightgrey !important;
  color: rgb(200, 50, 50) !important;
}

.mat-mdc-card-content b {
  color: rgb(240, 240, 245) !important;
}

.mat-mdc-dialog-surface b {
  color: rgb(240, 240, 240) !important;
  font-family: "Oswald" !important;
}