.mat-mdc-icon-button[disabled],
.mat-mdc-icon-button.mat-mdc-button-disabled {
  background-color: lightgrey !important;
  color: rgb(132, 26, 18) !important;
}

.mat-mdc-button-disabled {
  background-color: lightgrey !important;
  color: rgb(132, 26, 18) !important;
}

.mat-mdc-card-content b {
  color: rgb(247, 247, 247) !important;
}

.mat-mdc-dialog-surface b {
  color: rgb(247, 247, 247) !important;
  font-family: "Oswald" !important;
}