<div class="container">
  <div class="row mt-4">
    <mat-card class="card-padrao">
      <div class="row">
        <div class="col-sm-12">
          <h2><b>EQUIPAMENTOS</b></h2>
          <hr />
        </div>
      </div>
      <mat-tab-group>
        <mat-tab label="Conceitos">
            <div class="row">
                <div class="col-sm-6 mt-4">
                    <mat-card class="card-padrao" *ngIf="regraSelecionada?.descricao" style="background-color: rgb(120, 80, 160) !important; color: white;">
                        <div class="row">
                            <div class="col-sm-12" style="color: white !important;">
                                <b style="color: white !important; font-size: large !important;">{{ regraSelecionada?.nome?.toUpperCase() }}</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <hr class="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 d-flex justify">
                              <div [innerHTML]="regraSelecionada?.descricao"></div>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-sm-6 mt-4">
                    <mat-tree #tree *ngIf="dataSourceRegraTree.length > 0" [dataSource]="dataSourceRegraTree"
                        [childrenAccessor]="childrenAccessor">
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                            <!-- <button matIconButton disabled></button> -->
                            <a matButton (click)="selecionaRegra(node)" target="_blank" style="cursor: pointer !important;">{{node.nome}}</a>
                        </mat-tree-node>
                        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                            [cdkTreeNodeTypeaheadLabel]="node.nome">
                            <button matIconButton matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.nome" class="no-arvore">
                                <mat-icon class="mat-icon-rtl-mirror" class="no-arvore">
                                    {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                            <a matButton (click)="selecionaRegra(node)" target="_blank" style="cursor: pointer !important;" >{{node.nome}}</a>
                        </mat-tree-node>
                    </mat-tree>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Armas">
          <app-armas></app-armas>
        </mat-tab>
        <mat-tab label="Munições">
          <app-municoes></app-municoes>
        </mat-tab>
        <mat-tab label="Armaduras">
          <app-armaduras></app-armaduras>
        </mat-tab>
        <mat-tab label="Equipamentos de Aventura">
          <app-equipamento-aventura></app-equipamento-aventura>
        </mat-tab>
        <mat-tab label="Ferramentas">
          <app-ferramentas></app-ferramentas>
        </mat-tab>
        <mat-tab label="Vestuários">
          <app-vestuarios></app-vestuarios>
        </mat-tab>
        <mat-tab label="Esotéricos">
          <app-esotericos></app-esotericos>
        </mat-tab>
        <mat-tab label="Alquímicos">
          <app-alquimicos></app-alquimicos>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>