.card-padrao {
  width: 100% !important;
  padding: 10px !important;
  margin: 10px !important;
    color: rgb(255, 255, 255) !important;
}

.mat-mdc-card {
  background-color: rgb(240, 230, 245) !important;
}

.mdc-tab__text-label {
  color: white !important;
}

.mat-mdc-card-content .mat-mdc-tab-header {
  border-radius: 10px !important; /* Arredonda os cantos */
  overflow: hidden !important; /* Garante que o conteúdo respeite o arredondamento */
  background-color: rgb(45, 35, 60);
}

.interior-cartao {
  border-radius: 10px; /* Arredonda os cantos */
  overflow: hidden; /* Garante que o conteúdo respeite o arredondamento */
  margin-bottom: 10px !important;
  text-align: justify;
  // display: flex;
}

.mat-mdc-card-title {
  font-weight: bold !important;
  padding: 10px !important;
  font-family: "Oswald" !important;
  font-size: 15pt !important;
  color: white;
  background-color: rgb(45, 35, 60);
  text-align: center !important;
  align-content: center !important;
}

.mat-mdc-card-subtitle {
  font-weight: bold !important;
  text-align: center !important;
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle {
  text-align: center !important;
}

.titulo-cartao-apresentacao .mat-mdc-card-subtitle {
  text-align: center !important;

  background-color: rgb(120, 80, 160) !important;
  max-height: 600px !important; /* Defina a altura máxima do card */
  overflow-y: auto !important; /* Habilita o scroll vertical */
  padding: 18px !important; /* Opcional: ajuste o espaçamento interno */
}

.mat-mdc-card-title, .mat-mdc-card-subtitle {
  display: block;
  margin: 0;
  background-color: rgb(45, 35, 60) !important;
  color: rgb(240, 240, 245) !important;
  max-height: 600px !important; /* Defina a altura máxima do card */
  overflow-y: hidden !important; /* Habilita o scroll vertical */
}

.mat-mdc-card-content {
  background-color: rgb(120, 80, 160) !important;
  max-height: 600px !important; /* Defina a altura máxima do card */
  padding: 18px !important; /* Opcional: ajuste o espaçamento interno */
  overflow-y: auto !important;
}

.mat-mdc-card-content .mat-mdc-checkbox .mat-internal-form-field {
  background-color: white;
}

.cartao {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.content-cartao-itens {
  height: 500px !important;
}

.content-cartao-condicoes {
  height: 250px !important;
}

.botao-cartao-apresentacao {
  margin-top: 15px !important;
}

.mat-mdc-card-content table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mat-mdc-card-content th,
td {
  padding: 12px 15px;
  color: #000;
  text-align: center;
  border: 1px solid #ddd;
}

.mat-mdc-card-content th {
  background-color: #f4f4f4;
  font-size: 1.2em;
  font-weight: bold;
}

.mat-mdc-card-content tr:nth-child(even) {
  background-color: #f9f9f9;
}

.mat-mdc-card-content tr:nth-child(odd) {
  background-color: #ffffff;
}

.mat-mdc-card-content tr:hover {
  background-color: #f1f1f1;
}

.mat-mdc-card-content b {
  color: rgb(240, 240, 245) !important;
}

.mat-mdc-card-content img {
  background: rgb(240, 240, 245) !important;
}

.mat-mdc-card-content hr {
  border: none !important; /* Remove estilos padrão */
  border-top: 2px solid rgb(240, 240, 245) !important; /* Define a cor e a altura */
  border-radius: 10px !important; /* Arredonda os cantos */
  overflow: hidden !important; /* Garante que o conteúdo respeite o arredondamento */
  opacity: 1 !important;
}
