.mdc-card {
  margin-bottom: 5% !important;
}

.mat-mdc-card {
  width: 100% !important;
  padding: 1% !important;
  margin: 1% !important;
  border-radius: 0px !important; /* Arredonda os cantos */
}

.mdc-card .card-game {
  height: 100% !important;
  color: rgb(199, 199, 199) !important;
  background-color: rgb(104, 16, 16) !important;
  border: 5px solid rgb(68, 5, 18) !important;
  text-align: justify !important;

  .mat-mdc-card-title {
    background-color: rgb(68, 5, 18) !important;
    text-align: center !important;
    font-weight: bold !important;
    padding: 10px !important;
    font-family: 'Oswald' !important;
  }

  .mat-mdc-card-content {
    overflow-y: auto !important;
    overflow-x: auto !important;
    font-family: 'Oswald' !important;
  }

  th {
    b {
      color: black !important;
      text-transform: uppercase !important;
    }
  }

  b {
    color: white !important;
  }

  table {
    border-collapse: collapse;
    background: #fffdf9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #a00000;
    width: 420px;
  }

  caption {
    font-weight: bold;
    text-transform: uppercase;
    color: #a00000;
    font-size: 1.1em;
    border-top: 2px solid #a00000;
    border-bottom: 2px solid #a00000;
    padding: 6px 0;
    letter-spacing: 0.5px;
  }

  th,
  td {
    border: 1px solid #d8c5b0;
    padding: 6px 12px;
    text-align: left;
  }

  th {
    background: #efe4d4;
    color: #3b1e0c;
    text-align: center;
  }

  td {
    color: #2e1b0c;
  }

  tr:nth-child(even) td {
    background: #f8f3ec;
  }

  td:first-child {
    font-weight: bold;
  }

  img {
    width: 100% !important; /* Largura máxima da imagem */
    height: 400px !important; /* Altura máxima da imagem */

    object-fit: contain !important; /* Mantém as proporções */
    border: 5px solid rgb(68, 5, 18) !important; /* Moldura */
    // border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgb(68, 5, 18) !important; /* Sombra suave */
  }

  h5 {
    color: white !important;
  }

  button {
    color: rgb(199, 199, 199) !important;
    border: 1px solid rgb(199, 199, 199) !important; /* Moldura */
  }
}
