.mat-mdc-dialog-container .mat-mdc-dialog-title {
  font-family: 'Oswald' !important;
  font-weight: bold !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-content {
  font-family: 'Oswald' !important;
}
