<div class="container">
  <mat-card class="cartao">
    <form [formGroup]="form">
      <div class="row">
        <h2><b>CONHEÇA AS CLASSES DO TORMENTA 20</b></h2>
      </div>
      <div class="row">
        <hr>
      </div>
      <div class="row">
        <div class="col-sm-6 mt-4">
          <mat-form-field class="form-field">
            <mat-label>Classe</mat-label>
            <input
              formControlName="nome"
              matInput
              type="text"
              name="raca"
              (keyup)="consultar()"
            />
          </mat-form-field>
        </div>
        <div class="col-sm-6 mt-4">
          <section>
            <div class="button-row d-flex justify-content-end">
              <button class="me-2" (click)="limparFiltros()" mat-flat-button>
                Limpar Filtros
              </button>
              <!-- <button mat-flat-button>Adicionar Raça</button> -->
            </div>
          </section>
        </div>
      </div>
    </form>
  </mat-card>

  <div class="row mt-4">
    <mat-card class="cartao">
      <table
        mat-table
        [dataSource]="classes"
        multiTemplateDataRows
        class="mat-elevation-z8"
      >
        @for (column of columnsToDisplay; track column) {
        <ng-container matColumnDef="{{ column }}">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="text-transform: uppercase"
          >
            {{ column }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>
        }
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              aria-label="expand row"
              (click)="
                expandedElement = expandedElement === element ? null : element;
                $event.stopPropagation()
              "
            >
              @if (expandedElement === element) {
              <mat-icon>keyboard_arrow_up</mat-icon>
              } @else {
              <mat-icon>keyboard_arrow_down</mat-icon>
              }
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="columnsToDisplayWithExpand.length"
          >
            <div
              class="element-detail"
              [@detailExpand]="
                element == expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <mat-tab-group>
                <mat-tab label="Classe">
                  <div class="content">
                    <div class="row">
                      <div class="col-sm-3">
                        <mat-card *ngIf="element.tabela != null">
                          <img [src]="element.tabela" [alt]="element.nome" />
                        </mat-card>
                      </div>
                      <div
                        class="col-sm-6 text-justify"
                        [innerHTML]="element.descricao_classe"
                      ></div>
                      <div class="col-sm-3">
                        <mat-card *ngIf="element.imagem != null">
                          <img [src]="element.imagem" [alt]="element.nome" />
                        </mat-card>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Habilidades">
                  <div class="row">
                    <h4> Habilidades de Classe </h4>
                    <p>Habilidades de Classe são poderes dados passivamente pela classe, de acordo com o nível da mesma. Segue as habilidades de Arcaista.</p>
                    <div
                      class="col-sm-12 text-justify"
                      [innerHTML]="element.descricao_habilidades"
                    ></div>
                  </div>
                </mat-tab>
                <mat-tab label="Poderes">
                  <div class="row">
                    <div
                      class="col-sm-12 text-justify"
                      [innerHTML]="element.descricao_poderes"
                    ></div>
                  </div>
                </mat-tab>
                <mat-tab *ngIf="element.ha_informacoes_adicionais" label="Informações Adicionais">
                  <div class="row">
                    <div
                      class="col-sm-12 text-justify"
                      [innerHTML]="element.descricao_informacoes"
                    ></div>
                  </div>
                </mat-tab>
                <mat-tab label="Complicações">
                  <div class="row">
                    <h4>Complicações</h4>
                    <p>Complicações são restrições e penalidades com as quais seu personagem precisa lidar. Quando você cria seu personagem, pode escolher uma complicação para ele (e apenas uma). Se fizer isso, recebe um poder geral extra. Você é livre para escolher o poder, mas deve preencher seus pré-requisitos.</p>
                    <div
                      class="col-sm-12 text-justify"
                      [innerHTML]="element.descricao_complicacoes"
                    ></div>
                  </div>
                </mat-tab>
                <mat-tab label="Poderes DB">
                  <div class="row">
                    <p><h4>Poderes de Classe da Dragão Brasil</h4>
                    <p>Essa aba vai apresentar material de jogo em fase de teste, que está sendo trabalhado pela equipe de game design e pode (ou não) ser inserido em futuros suplementos da franquia. Todas as regras mostradas aqui são opcionais e podem apresentar mudanças caso publicadas oficialmente.</p>
                    <div
                      class="col-sm-12 text-justify"
                      [innerHTML]="element.descricao_poderes_db"
                    ></div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: columnsToDisplayWithExpand"
          class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="
            expandedElement = expandedElement === element ? null : element
          "
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="detail-row"
        ></tr>
      </table>
    </mat-card>
  </div>
</div>
