<div class="cabecalho"></div>
<mat-card>
  <mat-card-content class="menu-card-content">
    <div class="content">
      <div class="row">
        <div class="col-sm-8">
          <button
            style="
              background-color: hsl(var(--border)) !important;
              color: orange !important;
              font-size: large !important;
            "
            mat-button
            (click)="navigateTo('')">
            HOME
          </button>
          <button
            style="
              background-color: hsl(var(--border)) !important;
              color: orange !important;
              font-size: large !important;
            "
            mat-button
            [matMenuTriggerFor]="menuPersonagem">
            PERSONAGEM
          </button>
          <mat-menu #menuPersonagem="matMenu" yPosition="below">
            <button mat-menu-item (click)="navigateTo('personagem/racas')">RAÇAS</button>
            <button mat-menu-item (click)="navigateTo('personagem/origens')">ORIGENS</button>
            <button mat-menu-item (click)="navigateTo('personagem/classes')">CLASSES</button>

            <button mat-menu-item (click)="navigateTo('personagem/pericias')">PERÍCIAS</button>
            <button mat-menu-item (click)="navigateTo('personagem/deuses')">DEUSES</button>
            <button mat-menu-item (click)="navigateTo('personagem/complicacoes')">COMPLICAÇÕES</button>
            <button mat-menu-item (click)="navigateTo('personagem/poderes')">PODERES</button>
            <button mat-menu-item (click)="navigateTo('personagem/magias')">MAGIAS</button>
          </mat-menu>
          <button
            style="
              background-color: hsl(var(--border)) !important;
              color: orange !important;
              font-size: large !important;
            "
            mat-button
            [matMenuTriggerFor]="menuItens">
            ITEM
          </button>
          <mat-menu #menuItens="matMenu" yPosition="below">
            <button mat-menu-item (click)="navigateTo('itens/armas-municoes')">ARMAS & MUNIÇÕES</button>
            <button mat-menu-item (click)="navigateTo('itens/armaduras-escudos')">ARMADURAS & ESCUDOS</button>
            <button mat-menu-item (click)="navigateTo('itens/itens-gerais')">ITENS GERAIS</button>
            <button mat-menu-item (click)="navigateTo('itens/itens-superiores')">ITENS SUPERIORES</button>
          </mat-menu>
          <button
            style="
              background-color: hsl(var(--border)) !important;
              color: orange !important;
              font-size: large !important;
            "
            mat-button
            [matMenuTriggerFor]="menuCampanha">
            CAMPANHA
          </button>
          <mat-menu #menuCampanha="matMenu" yPosition="below">
            <button mat-menu-item (click)="navigateTo('campanha/parceiros')">PARCEIROS</button>
            <button mat-menu-item (click)="navigateTo('campanha/distincoes')">DISTINÇÕES</button>
            <button mat-menu-item (click)="navigateTo('campanha/itens-magicos')">ITENS MÁGICOS</button>
            <button mat-menu-item (click)="navigateTo('campanha/artefatos')">ARTEFATOS</button>
            <button mat-menu-item (click)="navigateTo('campanha/familiares')">FAMILIARES</button>
          </mat-menu>

          <button
            style="
              background-color: hsl(var(--border)) !important;
              color: orange !important;
              font-size: large !important;
            "
            mat-button
            [matMenuTriggerFor]="menuRegra">
            REGRAS
          </button>
          <mat-menu #menuRegra="matMenu" yPosition="below">
            <button mat-menu-item (click)="navigateTo('regras/regras')">REGRAS DO JOGO</button>
            <button mat-menu-item (click)="navigateTo('regras/acoes')">AÇÕES</button>
            <button mat-menu-item (click)="navigateTo('regras/condicoes')">CONDIÇÕES</button>
          </mat-menu>
          <button
            style="
              background-color: hsl(var(--border)) !important;
              color: orange !important;
              font-size: large !important;
            "
            mat-button
            [matMenuTriggerFor]="menuMestre">
            MESTRE
          </button>
          <mat-menu #menuMestre="matMenu" yPosition="below">
            <button mat-menu-item (click)="navigateTo('mestre/calculo-desafios')">CÁLCULO DE DESAFIO</button>
            <button mat-menu-item (click)="navigateTo('mestre/tabela-geracao-tesouros')">GERAÇÃO DE TESOURO</button>
            <button mat-menu-item (click)="navigateTo('mestre/ameacas')">AMEAÇAS</button>
            <!-- <button mat-menu-item (click)="navigateTo('mestre/criando-ameacas')">Criando Ameaças</button>
            <button mat-menu-item (click)="navigateTo('mestre/dashboard')">
              Dashboard
            </button> -->
          </mat-menu>
          <button
            style="
              background-color: hsl(var(--border)) !important;
              color: orange !important;
              font-size: large !important;
            "
            mat-button
            [matMenuTriggerFor]="menuUtilitarios">
            UTILITÁRIOS
          </button>
          <mat-menu #menuUtilitarios="matMenu" yPosition="below">
            <button mat-menu-item (click)="navigateTo('utilitarios/personagem-aleatorio')">PERSONAGEM ALEATÓRIO</button>
            <button mat-menu-item (click)="navigateTo('utilitarios/ficha-rapida')">FICHA</button>
          </mat-menu>
        </div>
        <div class="col-sm-4 d-flex align-items-center justify-content-end pe-4">
          <div class="ms-3">
            <b style="color: orange !important; font-size: large !important" class="text-white">
              ACESSOS : {{ totalAcessos }}
            </b>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<div class="container">
  <div class="row mt-1" style="margin-right: 0.5% !important">
    <router-outlet />
  </div>
</div>
<app-footer></app-footer>
<loading-indicator [detectRouteTransitions]="true" />
