.mat-mdc-card-content {
    background-color: rgb(45, 35, 60) !important;
    color: rgb(240, 240, 245);
    max-height: 600px !important; /* Defina a altura máxima do card */
    overflow-y: auto !important; /* Habilita o scroll vertical */
    padding: 8px !important; /* Opcional: ajuste o espaçamento interno */
  }