label {
  font-size: 11px !important;
}

.btn-adicionar {
  font-weight: bold;
  color: rgb(68, 5, 18) !important;
  background-color: rgb(68, 5, 18) !important;
  height: 100% !important;
  font-size: x-large;
  cursor: pointer;
  border-radius: 4px;
}
