<div class="card" #ficha id="ficha-personagem">
  <!-- FUNDO -->
  <img class="layer fundo" [src]="fundoImg" />

  <!-- PERSONAGEM -->
  <img class="layer personagem" [src]="personagemImg" />

  <!-- TOKEN -->
  <div class="token">
    <img class="token-img" [src]="tokenImg" />
  </div>

  <!-- TOPO -->
  <img class="layer topo" [src]="topoImg" />

  <!-- TEXTOS -->

  <!-- CABEÇALHO -->
  <div class="campo label_nome_personagem">PERSONAGEM</div>
  <div class="campo nome_jogador">{{ nome_jogador }}</div>

  <div class="campo label_nome_jogador">JOGADOR</div>
  <div class="campo nome_personagem">{{ nome_personagem }}</div>

  <div class="campo label_raca">RAÇA</div>
  <div class="campo raca">{{ raca }}</div>

  <div class="campo label_origem">ORIGEM</div>
  <div class="campo origem">{{ origem }}</div>

  <div class="campo label_classe">CLASSE</div>
  <div class="campo classe">{{ classe }}</div>

  <div class="campo label_devocao">DEVOÇÃO</div>
  <div class="campo devocao">{{ devocao }}</div>

  <!-- ATRIBUTOS -->
  <div class="campo label_forca">FORÇA</div>
  <div class="campo atributo forca">{{ forca }}</div>

  <div class="campo label_destreza">DESTREZA</div>
  <div class="campo atributo destreza">{{ destreza }}</div>

  <div class="campo label_constituicao">CONSTITUIÇÃO</div>
  <div class="campo atributo constituicao">{{ constituicao }}</div>

  <div class="campo label_inteligencia">INTELIGÊNCIA</div>
  <div class="campo atributo inteligencia">{{ inteligencia }}</div>

  <div class="campo label_sabedoria">SABEDORIA</div>
  <div class="campo atributo sabedoria">{{ sabedoria }}</div>

  <div class="campo label_carisma">CARISMA</div>
  <div class="campo atributo carisma">{{ carisma }}</div>

  <div class="campo label_pv">PONTOS DE VIDA</div>
  <div class="campo atributo pv">{{ pontos_vida }}</div>

  <div class="campo label_pm">PONTOS DE MANA</div>
  <div class="campo atributo pm">{{ pontos_mana }}</div>

  <!-- CARACTERÍSTICAS -->
  <div class="campo label_defesa">DEFESA</div>
  <div class="campo defesa">{{ defesa }}</div>

  <div class="campo label_faixa_etaria">IDADE</div>
  <div class="campo faixa_etaria">{{ faixa_etaria }}</div>
  <div class="campo atributo idade">{{ idade }}</div>

  <div class="campo label_caracteristicas">CARACTERÍSTICAS</div>

  <div class="campo label_tamanho">TAMANHO</div>
  <div class="campo atributo tamanho">{{ tamanho }}</div>

  <div class="campo label_tipo">TIPO</div>
  <div class="campo atributo tipo">{{ tipo }}</div>
</div>
