.mdc-checkbox {
  background-color: white !important;
  color: white !important;
  border-color: white !important;
}

.mat-mdc-checkbox {
  background-color: white !important;
  color: white !important;
  border-color: white !important;
}
