<app-card-search
  name="Magias"
  [service]="service"
  [searchColumn]="['nome', 'descrição', 'livro']"
  [colsGrid]="2"
  [rowHeight]="900"
  gutterSizeGrid="10px">
  <ng-template let-item>
    <mat-card class="card-game">
      <mat-card-title class="titulo-cartao-apresentacao interior-cartao interior-cartao-condicoes">
        {{ item.nome }}
      </mat-card-title>
      <mat-card-content class="interior-cartao interior-cartao-condicoes content-cartao-condicoes">
        <div class="row">
          <div class="col-sm-12 mt-1 d-flex justify-content-end">
            {{ item.referencias + ', pag. ' + item.paginas }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <hr />
          </div>
        </div>
        <mat-tab-group (selectedTabChange)="calculaTudo(item)">
          <mat-tab label="Descrição">
            <div class="content">
              <div class="row mt-4">
                <div class="col-sm-12">
                  <div class="d-flex flex-wrap gap-2">
                    @for (traco of item.tracos; track traco) {
                      <button class="btn btn-sm btn-outline-secondary" disabled>
                        {{ traco }}
                      </button>
                    }

                    <button *ngIf="item.execucao" class="btn btn-sm btn-outline-secondary" disabled>
                      {{ 'Execução: ' + item.execucao }}
                    </button>
                    <button *ngIf="item.alcance" class="btn btn-sm btn-outline-secondary" disabled>
                      {{ 'Alcance: ' + item.alcance }}
                    </button>
                    <button *ngIf="item.alvo" class="btn btn-sm btn-outline-secondary" disabled>
                      {{ 'Alvo: ' + item.alvo }}
                    </button>
                    <button *ngIf="item.duracao" class="btn btn-sm btn-outline-secondary" disabled>
                      {{ 'Duração: ' + item.duracao }}
                    </button>
                    <button *ngIf="item.pericia_resistencia" class="btn btn-sm btn-outline-secondary" disabled>
                      {{
                        item.metodo_resistencia
                          ? 'Resistência: ' + item.pericia_resistencia + ' ' + item.metodo_resistencia
                          : 'Resistência: ' + item.pericia_resistencia + ' '
                      }}
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <hr class="" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12" [innerHTML]="item.descricao"></div>
              </div>
            </div>
            <div class="content">
              <div class="col-sm-12">
                <hr />
              </div>
              @for (aprimoramento of item.aprimoramentos; track aprimoramento.id) {
                <div class="row">
                  <div class="d-flex flex-wrap gap-2">
                    <button class="btn btn-sm btn-outline-secondary" disabled>
                      {{ 'Execução: ' + aprimoramento.execucao }}
                    </button>
                    <button class="btn btn-sm btn-outline-secondary" disabled>
                      {{ 'Alcance: ' + aprimoramento.alcance }}
                    </button>
                    <button class="btn btn-sm btn-outline-secondary" disabled>
                      {{ 'Alvo: ' + aprimoramento.alvo }}
                    </button>
                    <button class="btn btn-sm btn-outline-secondary" disabled>
                      {{ 'Duração: ' + aprimoramento.duracao }}
                    </button>
                    <button *ngIf="aprimoramento.pericia_resistencia" class="btn btn-sm btn-outline-secondary" disabled>
                      {{
                        aprimoramento.metodo_resistencia
                          ? 'Resistência: ' + aprimoramento.pericia_resistencia + ' ' + aprimoramento.metodo_resistencia
                          : 'Resistência: ' + aprimoramento.pericia_resistencia + ' '
                      }}
                    </button>
                    @for (traco_aprimoramento of aprimoramento.tracos; track traco_aprimoramento) {
                      <button class="btn btn-sm btn-outline-secondary" disabled>
                        {{ traco_aprimoramento }}
                      </button>
                    }
                  </div>
                  <div class="col-sm-12 mt-2" [innerHTML]="aprimoramento.descricao"></div>
                  <div class="col-sm-6 mt-4 d-flex justify-content-end"></div>
                  <hr />
                </div>
              }
            </div>
          </mat-tab>
          <mat-tab label="Poção">
            <div class="content">
              <div class="row">
                <div class="col-sm-12 mt-2"></div>
              </div>
              <div class="row">
                <div class="col-sm-6 mt-1">Perícia para Fabricação</div>
                <div class="col-sm-6 mt-1 d-flex justify-content-end">
                  {{ 'Ofício (alquimista)' }}
                </div>
                <hr />
              </div>
              <div class="row">
                <div class="col-sm-9 mt-1">Preço</div>
                <div class="col-sm-3 mt-1 d-flex justify-content-end">
                  {{ 'T$ ' + item.custo_total }}
                </div>
                <hr />
              </div>
              <div class="row">
                <div class="col-sm-9 mt-1">Custo para Fabricação</div>
                <div class="col-sm-3 mt-1 d-flex justify-content-end">
                  {{ 'T$ ' + calculoCusto(item) }}
                </div>
                <hr />
              </div>
              <div class="row">
                <div class="col-sm-9 mt-1">CD Fabricação</div>
                <div class="col-sm-3 mt-1 d-flex justify-content-end">
                  {{ calculaCD(item) }}
                </div>
                <hr />
              </div>
              <div class="row">
                <div class="col-sm-9 mt-1">Tipo</div>
                <div class="col-sm-3 mt-1 d-flex justify-content-end">
                  {{ descobreTipoAlquimico(item) }}
                </div>
                <hr />
              </div>
              <div class="row">
                <div class="col-sm-9 mt-1">Ativação</div>
                <div class="col-sm-3 mt-1 d-flex justify-content-end">
                  {{ 'Ação Padrão' }}
                </div>
                <hr />
              </div>
              <div class="row">
                @for (aprimoramento of item.aprimoramentos; track aprimoramento.id) {
                  <div class="col-sm-3 mt-2">
                    <div class="mt-3 d-flex flex-wrap gap-2" *ngIf="aprimoramento.e_aumenta">
                      <button (click)="diminuiAprimoramento(aprimoramento, item)">-</button>
                      <input size="1" [value]="aprimoramento.aumenta" disabled />
                      <button (click)="aumentaAprimoramento(aprimoramento, item)">+</button>
                    </div>
                    <div class="col-sm-3 mt-2">
                      <div class="d-flex flex-wrap gap-2" *ngIf="!aprimoramento.e_aumenta">
                        <mat-checkbox (change)="calculaCheck(aprimoramento, item)"></mat-checkbox>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9 mt-2" [innerHTML]="aprimoramento.descricao"></div>
                }
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Pergaminho">
            <div class="content">
              <div class="row">
                <div class="col-sm-12 mt-2"></div>
              </div>
              <div class="row">
                <div class="col-sm-6 mt-1">Perícia para Fabricação</div>
                <div class="col-sm-6 mt-1 d-flex justify-content-end">
                  {{ 'Ofício (escriba)' }}
                </div>
                <hr />
              </div>
              <div class="row">
                <div class="col-sm-9 mt-1">Preço</div>
                <div class="col-sm-3 mt-1 d-flex justify-content-end">
                  {{ 'T$ ' + item.custo_total }}
                </div>
                <hr />
              </div>
              <div class="row">
                <div class="col-sm-9 mt-1">Custo para Fabricação</div>
                <div class="col-sm-3 mt-1 d-flex justify-content-end">
                  {{ 'T$ ' + calculoCusto(item) }}
                </div>
                <hr />
              </div>
              <div class="row">
                <div class="col-sm-9 mt-1">CD Fabricação</div>
                <div class="col-sm-3 mt-1 d-flex justify-content-end">
                  {{ calculaCD(item) }}
                </div>
                <hr />
              </div>
              <div class="row">
                <div class="col-sm-3 mt-1">Ativação</div>
                <div class="col-sm-9 mt-1 d-flex justify-content-end">
                  {{ 'Deve Conhecer a Magia Escrita ou Testar Misticismo CD (' + calculaCD(item) + ')' }}
                </div>
                <hr />
              </div>
              <div class="row">
                @for (aprimoramento of item.aprimoramentos; track aprimoramento.id) {
                  <div class="col-sm-3 mt-2">
                    <div class="mt-3 d-flex flex-wrap gap-2" *ngIf="aprimoramento.e_aumenta">
                      <button (click)="diminuiAprimoramento(aprimoramento, item)">-</button>
                      <input size="1" [value]="aprimoramento.aumenta" disabled />
                      <button (click)="aumentaAprimoramento(aprimoramento, item)">+</button>
                    </div>
                    <div class="col-sm-3 mt-2">
                      <div class="d-flex flex-wrap gap-2" *ngIf="!aprimoramento.e_aumenta">
                        <mat-checkbox (change)="calculaCheck(aprimoramento, item)"></mat-checkbox>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9 mt-2" [innerHTML]="aprimoramento.descricao"></div>
                }
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Engenhoca">
            <div class="content">
              <div class="row">
                <div class="col-sm-12 mt-2"></div>
              </div>
              <div class="row">
                <div class="col-sm-6 mt-1">Perícia para Fabricação</div>
                <div class="col-sm-6 mt-1 d-flex justify-content-end">
                  {{ 'Ofício (engenhoqueiro)' }}
                </div>
                <hr />
              </div>
              <div class="row">
                <div class="col-sm-9 mt-1">Custo</div>
                <div class="col-sm-3 mt-1 d-flex justify-content-end">
                  {{ 'T$ ' + item ? (item.custo ? item.custo * 100 : 0) : 0 }}
                </div>
                <hr />
              </div>
              <div class="row">
                <div class="col-sm-9 mt-1">CD Fabricação</div>
                <div class="col-sm-3 mt-1 d-flex justify-content-end">
                  {{ calculaCDEngenhoqueiro(item) }}
                </div>
                <hr />
              </div>
              <div class="row">
                <div class="col-sm-3 mt-1">Ativação</div>
                <div class="col-sm-9 mt-1 d-flex justify-content-end">
                  {{ 'Testar Ofício Engenhoqueiro CD (' + calculaCD(item) + ')' }}
                </div>
                <hr />
              </div>
              <div class="row">
                <div class="col-sm-6 mt-1">PM gasto na Ativação</div>
                <div class="col-sm-6 mt-1 d-flex justify-content-end">
                  {{ calculaPMEngenhoqueiro(item) }}
                </div>
                <hr />
              </div>
              <div class="row">
                @for (aprimoramento of item.aprimoramentos; track aprimoramento.id) {
                  <div class="col-sm-3 mt-2">
                    <div class="mt-3 d-flex flex-wrap gap-2" *ngIf="aprimoramento.e_aumenta">
                      <button (click)="diminuiAprimoramento(aprimoramento, item)">-</button>
                      <input size="1" [value]="aprimoramento.aumenta" disabled />
                      <button (click)="aumentaAprimoramento(aprimoramento, item)">+</button>
                    </div>
                    <div class="col-sm-3 mt-2">
                      <div class="d-flex flex-wrap gap-2" *ngIf="!aprimoramento.e_aumenta">
                        <mat-checkbox (change)="calculaCheck(aprimoramento, item)"></mat-checkbox>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9 mt-2" [innerHTML]="aprimoramento.descricao"></div>
                }
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </ng-template>
</app-card-search>
