<div class="container">
    <mat-card class="card-padrao">
      <div class="row">
        <h2><b>DEIXE NIMB CRIAR UM PERSONAGEM PARA VOCÊ!</b></h2>
      </div>
      <div class="row">
        <mat-divider></mat-divider>
        <div class="row">
          <div class="col-md-12 mt-4">
            <h2>{{personagem_nimb}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-4">
            <section>
              <div mat-flat-button class="example-button-row d-flex justify-content-end">
                <button class="me-2" (click)="rezarPraNimb()">
                  Reze para Limb e Alegre-se
                </button>
              </div>
            </section>
          </div>
        </div>
      </div>
    </mat-card>
</div>