<form [formGroup]="form">
  <mat-card class="cartao">
    <div class="row">
      <div class="col-sm-12">
        <h2><b>ORIGENS</b></h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 mt-2">
        <mat-form-field class="form-field text-field-formulario-edicao">
          <mat-label>Origem</mat-label>
          <input formControlName="nome" matInput type="text" (keyup)="consultar()" />
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <mat-card class="cartao">
    <div class="row">
      <div class="d-flex justify-content-end">
        <b>Número de Registros: {{ numero_registros }}</b>
      </div>
    </div>
    <br />
    <mat-grid-list *ngIf="isMobile" cols="1" rowHeight="500" gutterSize="10px">
      <mat-grid-tile *ngFor="let origem of origens">
        <mat-card class="card-game">
          <mat-card-title class="titulo-cartao-apresentacao interior-cartao interior-cartao-condicoes">
            {{ origem.nome }}
          </mat-card-title>
          <mat-card-content class="interior-cartao interior-cartao-condicoes content-cartao-condicoes">
            <div class="row">
              <div class="col-sm-12 mt-1 d-flex justify-content-end">
                {{ origem.referencias + ', pag. ' + origem.paginas }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <hr />
              </div>
            </div>
            <div class="content mt-2">
              <div class="row">
                <div class="col-sm-12 mt-4">
                  <div style="text-align: justify; margin-bottom: 1em; line-height: 1.6">
                    <div class="text-justify" [innerHTML]="origem.descricao"></div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list *ngIf="!isMobile" cols="2" rowHeight="500" gutterSize="10px">
      <mat-grid-tile *ngFor="let origem of origens">
        <mat-card class="card-game">
          <mat-card-title class="titulo-cartao-apresentacao interior-cartao interior-cartao-condicoes">
            {{ origem.nome }}
          </mat-card-title>
          <mat-card-content class="interior-cartao interior-cartao-condicoes content-cartao-condicoes">
            <div class="row">
              <div class="col-sm-12 mt-1 d-flex justify-content-end">
                {{ origem.referencias + ', pag. ' + origem.paginas }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <hr />
              </div>
            </div>
            <div class="content mt-2">
              <div class="row">
                <div class="col-sm-12 mt-4">
                  <div style="text-align: justify; margin-bottom: 1em; line-height: 1.6">
                    <div class="text-justify" [innerHTML]="origem.descricao"></div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</form>
