<mat-card class="card-game card-presentation">
  <mat-card-title class="titulo">
    {{ titulo.toUpperCase() }}
  </mat-card-title>
  <mat-card-content class="mat-mdc-card-content-game">
    <img [src]="caminho_imagem" class="imagem-presentation" />
    <div class="text-justify mt-4" [innerHTML]="descricao"></div>
  </mat-card-content>
  <mat-card-actions>
    <div class="d-flex flex-wrap gap-2">
      @for (item of links; track item) {
        <button class="btn btn-sm btn-outline-secondary" [routerLink]="item.link">
          {{ item.nome.toUpperCase() }}
        </button>
      }
    </div>
  </mat-card-actions>
</mat-card>
