.titulo {
  color: orange !important;
  font-weight: bold !important;
  font-family: 'Oswald' !important;
}

.card-presentation {
  background-color: #310d0d !important;

  b {
    color: white !important;
  }

  p {
    color: white !important;
  }
}
