.botoes-mais-menos {
    width: 25px !important;
    border: 1px solid rgb(120, 80, 160);
  }

  .campo-modificadores {
    height: 56px !important;
    width: 49px !important;
    font-size: xx-large !important;
    margin-top: 0px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
    text-align: center;
    border: 1px solid rgb(120, 80, 160);
  }

  .campo-atributos {
    width: 25px !important;
    height: 25px !important;
    font-size: small !important;
    text-align: center;
    border: 1px solid rgb(120, 80, 160);
  }