<form [formGroup]="form">
  <mat-card>
    <div class="row">
      <div class="col-sm-12">
        <h2>
          <b>{{ name.toUpperCase() }}</b>
        </h2>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p>
          Selecione uma das opções abaixo ou digite, e confirme. Cada vez que o fizer um novo filtro será adicionado a
          consulta. Coso deseje remover os filros, clique no X de cada termo da consulta.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field class="text-field-formulario-edicao">
          <mat-label>{{ searchColumn.join(', ') }}</mat-label>

          <mat-chip-grid #chipGrid>
            <mat-chip-row *ngFor="let sugestao of sugestoes(); let i = index" (removed)="remove(sugestao)">
              {{ sugestao }}
              <button matChipRemove [attr.aria-label]="'remove ' + sugestao">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>

          <input
            name="corrente"
            formControlName="corrente"
            [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
            matInput />

          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let sugestao of filtered()" [value]="sugestao">
              {{ sugestao }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </mat-card>

  <mat-card>
    <div class="row mb-2">
      <div class="d-flex justify-content-end">
        <b>Número de Registros: {{ records_number }}</b>
      </div>
    </div>

    <mat-grid-list *ngIf="isMobile" cols="1" [rowHeight]="rowHeight" [gutterSize]="gutterSizeGrid">
      <mat-grid-tile *ngFor="let object of objects">
        <ng-container *ngTemplateOutlet="template; context: { $implicit: object }"></ng-container>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list *ngIf="!isMobile" [cols]="colsGrid" [rowHeight]="rowHeight" [gutterSize]="gutterSizeGrid">
      <mat-grid-tile *ngFor="let object of objects">
        <ng-container *ngTemplateOutlet="template; context: { $implicit: object }"></ng-container>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</form>
