/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h2, h4 {
    margin-top: 1% !important;
    color: rgb(200, 50, 35) !important;
}

b {
    color: rgb(200, 50, 35) !important;
}

.negrito-centralizado > b {
    text-align: center !important;
}

.card-padrao {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.mat-mdc-card-title{
    color: rgb(132, 26, 18) !important;
    font-size: small !important;
}

.mat-mdc-card-content{
    font-size: small !important;
    background-color: rgb(132, 26, 18) !important;
    color: rgb(247, 247, 247)
}

.mdc-button__label{
    color: rgb(247, 247, 247)
}

.mat-mdc-unelevated-button:not(:disabled) {
    color: var(--mdc-filled-button-label-text-color, var(--mat-sys-on-primary));
    background-color: rgb(132, 26, 18) !important;
}
