/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100% !important;
  background-color: rgb(60, 60, 60) !important; /* Define o fundo como a cor dominante */
  height: 100%;
  font-family: "Oswald" !important;
  margin: 0;
  font-weight: normal; /* Pode ser 'bold' ou outros valores se necessário */
  font-style: normal; /* Pode ser 'italic' ou outros estilos */
  font-size: 10pt !important;
}
header,
.cabecalho {
  width: 100% !important;
  height: 30% !important; /* Você pode ajustar a altura como preferir */
  background-image: url("assets/img/banner_combonautas_definitivo.jpg") !important; /* Substitua pelo caminho da sua imagem */
  max-height: 30% !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  object-fit: contain; /* Mantém as proporções */
  border: 5px solid rgb(228, 176, 100); /* Moldura */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra suave */
  padding: 10px; /* Espaço entre a imagem e a borda */
}

.titulo_tormenta20 {
  width: 50% !important;
  height: 15% !important; /* Você pode ajustar a altura como preferir */
  // background-size: cover!important;
  // background-position: center!important;
  // background-repeat: no-repeat!important;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-right: 10%;
  margin-right: 10%;
}

.titulo_combonautas {
  width: 50% !important;
  height: auto !important; /* Você pode ajustar a altura como preferir */
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-right: 10%;
  margin-right: 10%;
}

h2,
h4,
h5 {
  margin-top: 1% !important;
  color: rgb(132, 26, 18) !important;
}

b {
  color: rgb(132, 26, 18) !important;
}

.negrito-centralizado > b {
  text-align: center !important;
}

.card-padrao {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.botao-cartao-apresentacao {
  margin-top: 15px !important;
}

.interior-cartao {
  border-radius: 10px; /* Arredonda os cantos */
  overflow: hidden; /* Garante que o conteúdo respeite o arredondamento */
  margin-bottom: 10px !important;
  text-align: justify;
  // display: flex;
}

.mat-mdc-button {
  font-family: "Oswald" !important;
  font-size: 12pt !important;
  border: 1px solid rgb(228, 176, 100); /* Moldura */
  background-color: rgb(132, 26, 18) !important;
  
}

.mat-mdc-select {
  font-family: "Oswald" !important;
  font-size: 12pt !important;
}

.mat-mdc-option {
  font-family: "Oswald" !important;
  font-size: 12pt !important;
}

.mdc-floating-label {
  font-family: "Oswald" !important;
  font-size: 12pt !important;
  

}

.mat-mdc-menu-item-text {
  font-family: "Oswald" !important;
  font-size: 12pt !important;
  

}

.mat-internal-form-field {
  font-family: "Oswald" !important;
  font-size: 12pt !important;
  

}

.mat-mdc-header-row {
  font-family: "Oswald" !important;
  font-size: 16pt !important;
}

.mat-mdc-unelevated-button {
  font-family: "Oswald" !important;
  font-size: 12pt !important;
  

}

.mat-mdc-row {
  font-family: "Oswald" !important;
  font-size: 10pt !important;
  height: var(--mat-table-row-item-container-height, 20px) !important;
}

.mat-expansion-panel-header {
  font-family: "Oswald" !important;
  font-size: 12pt !important;
  

}

.mat-expansion-panel-content {
  font-family: "Oswald" !important;
  font-size: 12pt !important;

}

.mat-mdc-card-title {
  font-weight: bold !important;
  padding: 10px !important;
  // font-family: "Source Sans 3", serif !important;
  font-family: "Oswald" !important;
  font-size: 20pt !important;
  color: rgb(228, 176, 100);
  background-color: rgb(132, 26, 18);
}

.mat-grid-tile-content{
  margin: 0px !important;
}

.mat-mdc-card-content .mdc-tab__text-label  {
  color: black !important;
}

.mat-mdc-card-content .mat-mdc-tab-header {
  border-radius: 10px !important; /* Arredonda os cantos */
  overflow: hidden !important; /* Garante que o conteúdo respeite o arredondamento */
  background-color: rgb(228, 176, 100);
}

.mat-mdc-card {
  background-color: rgb(248, 233, 220)!important;
}

.mat-mdc-card-subtitle {
  font-weight: bold !important;
  text-align: center !important;
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle {
  text-align: center !important;
}

.titulo-cartao-apresentacao .mat-mdc-card-subtitle {
  text-align: center !important;
}

.mat-mdc-card-content {
  background-color: rgb(132, 26, 18) !important;
  color: rgb(247, 247, 247);
  max-height: 600px !important; /* Defina a altura máxima do card */
  overflow-y: auto !important; /* Habilita o scroll vertical */
  padding: 18px !important; /* Opcional: ajuste o espaçamento interno */
}

img {
  max-width: 400px; /* Largura máxima da imagem */
  max-height: 400px; /* Altura máxima da imagem */
  object-fit: contain; /* Mantém as proporções */
  border: 5px solid rgb(228, 176, 100); /* Moldura */
  border-radius: 15px; /* Bordas arredondadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra suave */
  padding: 10px; /* Espaço entre a imagem e a borda */
  background-color: white; /* Fundo da moldura */
}


.mat-mdc-card-content table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mat-mdc-card-content th,
td {
  padding: 12px 15px;
  color: #000;
  text-align: center;
  border: 1px solid #ddd;
}

.mat-mdc-card-content th {
  background-color: #f4f4f4;
  font-size: 1.2em;
  font-weight: bold;
}

.mat-mdc-card-content tr:nth-child(even) {
  background-color: #f9f9f9;
}

.mat-mdc-card-content tr:nth-child(odd) {
  background-color: #ffffff;
}

.mat-mdc-card-content tr:hover {
  background-color: #f1f1f1;
}

.mat-mdc-card-content b {
  color: rgb(247, 247, 247) !important;
}

.mat-mdc-card-content img {
  background: rgb(255, 248, 248) !important;
}

img {
  background: rgb(255, 248, 248) !important;
}

.mat-mdc-card-content hr {
  border: none !important; /* Remove estilos padrão */
  border-top: 2px solid rgb(247, 247, 247) !important; /* Define a cor e a altura */
  border-radius: 10px !important; /* Arredonda os cantos */
  overflow: hidden !important; /* Garante que o conteúdo respeite o arredondamento */
  opacity: 1 !important;
}

button[mat-flat-button] {
  text-transform: uppercase; /* Deixa o texto em maiúsculas */
  font-size: 0.75rem; /* Reduz o tamanho da fonte */
  padding: 0.4rem 0.8rem; /* Ajusta o espaçamento interno */
  background-color: #e0e0e0; /* Define uma cor de fundo diferente */
  color: #333; /* Define a cor do texto */
  border-radius: 5px; /* Suaviza os cantos */
  transition: background-color 0.3s ease; /* Anima a mudança de cor */
  border: 1px solid rgb(228, 176, 100); /* Moldura */
}

button[mat-flat-button]:hover {
  background-color: #c8c8c8; /* Cor de fundo ao passar o mouse */
}

.content-cartao-condicoes {
  height: 250px !important;
}

.mdc-button__label {
  color: rgb(247, 247, 247);
}

.mat-mdc-unelevated-button:not(:disabled) {
  color: var(--mdc-filled-button-label-text-color, var(--mat-sys-on-primary));
  background-color: rgb(132, 26, 18) !important;
}

.mat-mdc-button-disabled {
  background-color: rgb(132, 26, 18) !important;
}

.content-cartao-itens {
  height: 500px !important;
}

.mat-mdc-tab-body-content {
  overflow: hidden !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-symbol {
  font-weight: bold !important;
  font-size: 40px !important;
  line-height: normal !important;
}

.element-description-attribution {
  opacity: 0.5 !important;
}

.mat-mdc-tab {
  font-family: "Oswald" !important;
  font-size: 12pt !important;
}

.mat-mdc-dialog-container {
  max-height: 500px !important;
}

.mat-mdc-dialog-surface {
  border: 2px solid rgb(228, 176, 100);
  background-color: rgb(60, 60, 60) !important;
  border-radius: 16px !important;      /* Arredondamento */
  padding: 16px !important;           /* Espaçamento interno */

}

.mat-mdc-dialog-surface b {
  color: white !important;
}

.mat-mdc-dialog-surface .card-padrao {
  border: 2px solid rgb(228, 176, 100);
  background-color: rgb(132, 26, 18) !important;
  color: white !important;
  border-radius: 16px !important;      /* Arredondamento */
  padding: 16px !important;           /* Espaçamento interno */
}

.mat-mdc-dialog-surface table {
  border-collapse: collapse !important;
  width: 100% !important;
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

table {
    width: 100%;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  .element-description-attribution {
    opacity: 0.5;
  }
  
  .cartao {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .divisao-filtro {
    padding: 16px;
    width: 30%;
  }
  
  .divisao-tabela {
    padding: 16px;
    width: 70%;
  }

  .mat-mdc-card-content .mat-mdc-checkbox .mat-internal-form-field {
    background-color: white;
  }