/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; font-family: 'Cinzel', serif !important;}
header, .cabecalho {
    width: 100%!important;
    height: 50%!important; /* Você pode ajustar a altura como preferir */
    background-image: url('assets/img/header_combonautas_.png') !important; /* Substitua pelo caminho da sua imagem */
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
}

.titulo_tormenta20 {
    width: 50%!important;
    height: 15%!important; /* Você pode ajustar a altura como preferir */
    // background-size: cover!important;
    // background-position: center!important;
    // background-repeat: no-repeat!important;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-right: 10%;
    margin-right: 10%;
}

.titulo_combonautas {
    width: 50%!important;
    height: auto!important; /* Você pode ajustar a altura como preferir */
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-right: 10%;
    margin-right: 10%;
}


body { 
    margin: 0; 
    font-family: 'Cinzel', serif !important;
    font-weight: normal; /* Pode ser 'bold' ou outros valores se necessário */
    font-style: normal;  /* Pode ser 'italic' ou outros estilos */
    font-size: 13pt !important;
}


h2, h4 {
    margin-top: 1% !important;
    color: rgb(132, 26, 18) !important;
}

b {
    color: rgb(132, 26, 18) !important;
}

.negrito-centralizado > b {
    text-align: center !important;
}

.card-padrao {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.botao-cartao-apresentacao {
    margin-top: 15px !important;
}

.interior-cartao {
    border-radius: 10px; /* Arredonda os cantos */
    overflow: hidden;    /* Garante que o conteúdo respeite o arredondamento */
    margin-bottom: 10px !important;
    text-align: justify;
    // display: flex;
}

.mat-mdc-button {
    font-family: 'Cinzel', serif !important;
}

.mdc-floating-label {
    font-family: 'Cinzel', serif !important;
}

.mat-mdc-menu-item-text {
    font-family: 'Cinzel', serif !important;
}

.mat-internal-form-field {
    font-family: 'Cinzel', serif !important;
}

.mat-mdc-unelevated-button {
    font-family: 'Cinzel', serif !important;
}

.mat-mdc-row {
    font-family: 'Cinzel', serif !important;
}

.mat-expansion-panel-header {
    font-family: 'Cinzel', serif !important;
}

.mat-expansion-panel-content {
    font-family: 'Cinzel', serif !important;
}

.mat-mdc-tab {
    font-family: 'Cinzel', serif !important;
}

.mat-mdc-card-title{
    font-family: 'Cinzel', serif !important;
    color: rgb(247, 247, 247) !important;
    background-color: rgb(132, 26, 18);
    font-size: small !important;
}

.mat-mdc-card-subtitle {
    font-weight: bold !important;
    text-align: center !important;
}

.mat-mdc-card-title,.mat-mdc-card-subtitle {
    text-align: center !important;
}

.titulo-cartao-apresentacao .mat-mdc-card-subtitle {
    text-align: center !important;
}

.mat-mdc-card-content{
    font-size: small !important;
    background-color: rgb(132, 26, 18) !important;
    color: rgb(247, 247, 247);
    max-height: 400px !important; /* Defina a altura máxima do card */
    overflow-y: auto !important; /* Habilita o scroll vertical */
    padding: 16px !important; /* Opcional: ajuste o espaçamento interno */
}

.mat-mdc-card-content b {
    color: rgb(247, 247, 247) !important;
}

.mat-mdc-card-content img {
    background: rgb(255, 248, 248) !important;

}

img {
    background: rgb(255, 248, 248) !important;

}

.mat-mdc-card-content hr {
    border: none !important;  /* Remove estilos padrão */
    border-top: 5px solid rgb(247, 247, 247) !important; /* Define a cor e a altura */
    border-radius: 10px !important; /* Arredonda os cantos */
    overflow: hidden !important; /* Garante que o conteúdo respeite o arredondamento */
    opacity: 1 !important;
}

.content-cartao-condicoes {
    height: 250px !important;
}

.mdc-button__label{
    color: rgb(247, 247, 247)
}

.mat-mdc-unelevated-button:not(:disabled) {
    color: var(--mdc-filled-button-label-text-color, var(--mat-sys-on-primary));
    background-color: rgb(132, 26, 18) !important;
}

table {
    width: 100%;
    border-collapse: collapse;
  }

  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
  }
  
  // table tr:nth-child(odd) {
  //   background-color: rgb(132, 26, 18);
  //   color: white; /* Adicione isso para o texto ficar visível na linha vermelha */
  // }
  
  // table tr:nth-child(even) {
  //   background-color: white;
  //   color: black; /* Adicione isso para o texto ficar visível na linha branca */
  // }
  
  // table th, table td {
  //   padding: 8px;
  //   border: 1px solid #ddd;
  //   text-align: left;
  // }
  
  // .odd-row {
  //   background-color: rgb(132, 26, 18)!important ;
  //   color: white !important; /* Para o texto ficar visível */
  // }
  
  // .even-row {
  //   background-color: white !important;
  //   color: black !important; /* Para o texto ficar visível */
  // }

  .element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .element-description-attribution {
    opacity: 0.5;
  }
