<app-card-search
  name="Raças"
  [service]="racaService"
  [searchColumn]="['nome', 'tipo', 'tamanho', 'deslocamento', 'sentidos', 'devoção']"
  [colsGrid]="2"
  [rowHeight]="900"
  gutterSizeGrid="10px">
  <ng-template let-item>
    <mat-card class="card-game">
      <mat-card-title class="titulo-cartao-apresentacao interior-cartao interior-cartao-condicoes">
        {{ item.nome }}
      </mat-card-title>
      <mat-card-content class="interior-cartao interior-cartao-condicoes content-cartao-condicoes">
        <div class="row">
          <div class="col-sm-12 mt-1 d-flex justify-content-end">
            {{ item.referencias + ' ' + item.paginas }}
          </div>
        </div>
        <div class="content mt-2">
          <mat-tab-group (click)="carregarAbas(item)">
            <mat-tab label="Imagem">
              <img [src]="item.imagem" [alt]="item.nome" style="height: 700px !important" />
            </mat-tab>
            <mat-tab label="Características">
              <div class="row">
                <div class="col-sm-12 mt-4">
                  <div style="text-align: justify; margin-bottom: 1em; line-height: 1.6">
                    <div class="text-justify" [innerHTML]="item.descricao"></div>
                  </div>
                  <div class="col-sm-12">
                    <div
                      *ngFor="let poder of item.habilidades"
                      style="text-align: justify; margin-bottom: 1em; line-height: 1.6">
                      <b>{{ poder.nome }}</b>
                      <div class="text-justify" [innerHTML]="poder.descricao"></div>
                    </div>
                  </div>
                  <div style="text-align: justify; margin-bottom: 1em; line-height: 1.6">
                    <b>Longevidade:</b>
                    {{ item.longevidade }} x.
                  </div>
                  <div style="text-align: justify; margin-bottom: 1em; line-height: 1.6">
                    <b>Devoto:</b>
                    {{ item.devotos }}
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Poderes Gerais">
              <div class="row mt-4">
                <p>(ps: Poderes Mágicos são marcados com o símbolo:✨)</p>
                <div class="row">
                  <div class="col-sm-12">
                    <hr />
                  </div>
                </div>
                <div class="col-sm-12">
                  <div
                    *ngFor="let poder of item.poderes"
                    style="text-align: justify; margin-bottom: 1em; line-height: 1.6">
                    <b>{{ poder.nome }}</b>
                    <div class="text-justify" [innerHTML]="poder.descricao"></div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="História">
              <div class="row">
                <div class="col-sm-12 mt-4 text-justify" [innerHTML]="item.historia"></div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>
</app-card-search>
