<div class="container py-4">
  <div class="row" style="height: 500px !important">
    <div class="col-sm-3">
      <mat-card class="card-padrao" style="height: 500px !important">
        <div class="row">
          <div class="col-sm-12">
            <h5><b>PERSONAGENS </b></h5>
            <hr />
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-sm-9">
      <mat-card class="card-padrao" style="height: 500px !important">
        <div class="row">
          <div class="col-sm-6">
            <h5><b>FICHA DO PERSONAGEM: </b></h5>
          </div>
          <div class="col-sm-6 d-flex justify-content-end">
            <strong>{{ "PONTOS: " + personagem.pontos }}</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <hr />
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-sm-2">
            <div class="avatar-container">
              <img
                src="assets/img/icon_sheet.png"
                alt="Avatar"
                class="rounded-circle imagem-ficha"
                width="50"
                height="50"
              />
            </div>
          </div>
          <div class="col-sm-10">
            <div class="row">

            </div>
            <div class="row">
              <div class="col-sm-2 d-flex">
                <button class="btn btn-sm btn-outline-secondary ms-2 botao-ficha">
                  <strong>RAÇA:</strong>
                </button>
              </div>
              <div class="col-sm-2 d-flex">
                <button class="btn btn-sm btn-outline-secondary ms-2 botao-ficha">
                  <strong>ORIGEM:</strong>
                </button>
              </div>
              <div class="col-sm-4 d-flex">
                <button class="btn btn-sm btn-outline-secondary ms-2 botao-ficha">
                  <strong>CLASSES:</strong>
                </button>
              </div>
              <div class="col-sm-2 d-flex">
                <button class="btn btn-sm btn-outline-secondary ms-2 botao-ficha">
                  <strong>DIVINDADE:</strong>
                </button>
              </div>
              <div class="col-sm-2">
                <strong>{{ "NÍVEL: " + personagem.nivel }}</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="row align-items-center">
              <div class="col-sm-2">
                <div class="row text-center">
                  <strong style="font-size: x-large !important">FOR</strong>
                </div>
                <div class="row align-items-center">
                  <div class="col-sm-3">
                    <div class="row">
                      <div class="col-sm-12">
                        <div>
                          <button
                            class="botoes-mais-menos"
                            [disabled]="personagem.atributos.for_comprada === 4"
                            (click)="
                              personagem.calculaPontos(
                                'for',
                                personagem.atributos.for_comprada + 1
                              )
                            "
                          >
                            +
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <button
                          class="botoes-mais-menos"
                          [disabled]="personagem.atributos.for_comprada === -1"
                          (click)="
                            personagem.calculaPontos(
                              'for',
                              personagem.atributos.for_comprada - 1
                            )
                          "
                        >
                          -
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <input
                      class="campo-modificadores"
                      size="1"
                      [value]="personagem.atributos.for"
                      disabled
                    />
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="d-flex">
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.for_comprada"
                      disabled
                    />
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.for_racial"
                      disabled
                    />
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.for_bonus"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="row text-center">
                  <strong style="font-size: x-large !important">DES</strong>
                </div>
                <div class="row align-items-center">
                  <div class="col-sm-3">
                    <div class="row">
                      <div class="col-sm-12">
                        <div>
                          <button
                            class="botoes-mais-menos"
                            [disabled]="personagem.atributos.des_comprada === 4"
                            (click)="
                              personagem.calculaPontos(
                                'des',
                                personagem.atributos.des_comprada + 1
                              )
                            "
                          >
                            +
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <button
                          class="botoes-mais-menos"
                          [disabled]="personagem.atributos.des_comprada === -1"
                          (click)="
                            personagem.calculaPontos(
                              'des',
                              personagem.atributos.des_comprada - 1
                            )
                          "
                        >
                          -
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <input
                      class="campo-modificadores"
                      size="1"
                      [value]="personagem.atributos.des"
                      disabled
                    />
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="d-flex">
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.des_comprada"
                      disabled
                    />
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.des_racial"
                      disabled
                    />
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.des_bonus"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="row text-center">
                  <strong style="font-size: x-large !important">CON</strong>
                </div>
                <div class="row align-items-center">
                  <div class="col-sm-3">
                    <div class="row">
                      <div class="col-sm-12">
                        <div>
                          <button
                            class="botoes-mais-menos"
                            [disabled]="personagem.atributos.con_comprada === 4"
                            (click)="
                              personagem.calculaPontos(
                                'con',
                                personagem.atributos.con_comprada + 1
                              )
                            "
                          >
                            +
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <button
                          class="botoes-mais-menos"
                          [disabled]="personagem.atributos.con_comprada === -1"
                          (click)="
                            personagem.calculaPontos(
                              'con',
                              personagem.atributos.con_comprada - 1
                            )
                          "
                        >
                          -
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <input
                      class="campo-modificadores"
                      size="1"
                      [value]="personagem.atributos.con"
                      disabled
                    />
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="d-flex">
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.con_comprada"
                      disabled
                    />
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.con_racial"
                      disabled
                    />
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.con_bonus"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="row text-center">
                  <strong style="font-size: x-large !important">INT</strong>
                </div>
                <div class="row align-items-center">
                  <div class="col-sm-3">
                    <div class="row">
                      <div class="col-sm-12">
                        <div>
                          <button
                            class="botoes-mais-menos"
                            [disabled]="personagem.atributos.int_comprada === 4"
                            (click)="
                              personagem.calculaPontos(
                                'int',
                                personagem.atributos.int_comprada + 1
                              )
                            "
                          >
                            +
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <button
                          class="botoes-mais-menos"
                          [disabled]="personagem.atributos.int_comprada === -1"
                          (click)="
                            personagem.calculaPontos(
                              'int',
                              personagem.atributos.int_comprada - 1
                            )
                          "
                        >
                          -
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <input
                      class="campo-modificadores"
                      size="1"
                      [value]="personagem.atributos.int"
                      disabled
                    />
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="d-flex">
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.int_comprada"
                      disabled
                    />
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.int_racial"
                      disabled
                    />
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.int_bonus"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="row text-center">
                  <strong style="font-size: x-large !important">SAB</strong>
                </div>
                <div class="row align-items-center">
                  <div class="col-sm-3">
                    <div class="row">
                      <div class="col-sm-12">
                        <div>
                          <button
                            class="botoes-mais-menos"
                            [disabled]="personagem.atributos.sab_comprada === 4"
                            (click)="
                              personagem.calculaPontos(
                                'sab',
                                personagem.atributos.sab_comprada + 1
                              )
                            "
                          >
                            +
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <button
                          class="botoes-mais-menos"
                          [disabled]="personagem.atributos.sab_comprada === -1"
                          (click)="
                            personagem.calculaPontos(
                              'sab',
                              personagem.atributos.sab_comprada - 1
                            )
                          "
                        >
                          -
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <input
                      class="campo-modificadores"
                      size="1"
                      [value]="personagem.atributos.sab"
                      disabled
                    />
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="d-flex">
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.sab_comprada"
                      disabled
                    />
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.sab_racial"
                      disabled
                    />
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.sab_bonus"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="row text-center">
                  <strong style="font-size: x-large !important">CAR</strong>
                </div>
                <div class="row align-items-center">
                  <div class="col-sm-3">
                    <div class="row">
                      <div class="col-sm-12">
                        <div>
                          <button
                            class="botoes-mais-menos"
                            [disabled]="personagem.atributos.car_comprada === 4"
                            (click)="
                              personagem.calculaPontos(
                                'car',
                                personagem.atributos.car_comprada + 1
                              )
                            "
                          >
                            +
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <button
                          class="botoes-mais-menos"
                          [disabled]="personagem.atributos.car_comprada === -1"
                          (click)="
                            personagem.calculaPontos(
                              'car',
                              personagem.atributos.car_comprada - 1
                            )
                          "
                        >
                          -
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <input
                      class="campo-modificadores"
                      size="1"
                      [value]="personagem.atributos.car"
                      disabled
                    />
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="d-flex">
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.car_comprada"
                      disabled
                    />
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.car_racial"
                      disabled
                    />
                    <input
                      class="campo-atributos"
                      value="0"
                      size="1"
                      [value]="personagem.atributos.car_bonus"
                      disabled
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
