<div class="container">
    <div class="row"  style="height: 500px !important">
      <div class="col-sm-3">
        <mat-card class="card-padrao" style="height: 500px !important">
          <div class="row">
            <div class="col-sm-12">
              <h5><b>PERSONAGENS </b></h5>
              <hr />
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-sm-9">
        <mat-card class="card-padrao" style="height: 500px !important">
          <div class="row">
            <div class="col-sm-12">
              <h5><b>FICHA DO PERSONAGEM: </b></h5>
              <hr />
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    
</div>
