.campo-modificadores {
    height: 55px !important; width: 48px !important; font-size: xx-large !important; text-align: center; border: 1px solid rgb(228, 176, 100);
}

.campo-atributos {
    width: 25px !important; 
    height: 25px !important;
    font-size: small !important; 
    text-align: center; border: 1px solid rgb(228, 176, 100);
}

.botoes-mais-menos {
    width: 25px !important;   border: 1px solid rgb(228, 176, 100);
}