<div class="container">
  <mat-card class="card-padrao">
    <div class="row">
      <div class="col-sm-12">
        <h2><b>PODERES GERAIS</b></h2>
        <hr />
      </div>
    </div>
    <form [formGroup]="form">
      <mat-tab-group>
        <mat-tab label="Poderes de Combate">
          <div class="row">
            <div class="col-sm-6 mt-4">
              <mat-form-field class="form-field">
                <mat-label>Poder de Combate</mat-label>
                <input
                  formControlName="nome"
                  matInput
                  type="text"
                  (keyup)="consultarPoderesCombate()"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-12 mt-4">
            <div class="d-flex justify-content-end">
              <b>Número de Registros: {{ numero_registros_combate }}</b>
            </div>
          </div>
          <mat-grid-list cols="3" gutterSize="15">
            <mat-grid-tile *ngFor="let poder of poderes_combate">
              <mat-card class="card-padrao">
                <mat-card-title
                  class="titulo-cartao-apresentacao interior-cartao interior-cartao-condicoes"
                >
                  {{ poder.nome }}
                </mat-card-title>
                <mat-card-content
                  class="interior-cartao interior-cartao-condicoes content-cartao-condicoes"
                >
                  <div class="content">
                    <div class="row">
                      <div class="col-sm-12">
                        <hr class="" />
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-sm-12"
                        [innerHTML]="poder.descricao"
                      ></div>
                      <div class="col-sm-12">
                        <hr class="" />
                      </div>
                      <div class="col-sm-12">
                        {{poder.prerequisito}}
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
        <mat-tab label="Poderes de Destino">
          <div class="row">
            <div class="col-sm-6 mt-4">
              <mat-form-field class="form-field">
                <mat-label>Poder de Destino</mat-label>
                <input
                  formControlName="nome"
                  matInput
                  type="text"
                  (keyup)="consultarPoderesDestino()"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-12 mt-4">
            <div class="d-flex justify-content-end">
              <b>Número de Registros: {{ numero_registros_destino }}</b>
            </div>
          </div>
          <mat-grid-list cols="3" gutterSize="15">
            <mat-grid-tile *ngFor="let poder of poderes_destino">
              <mat-card class="card-padrao">
                <mat-card-title
                  class="titulo-cartao-apresentacao interior-cartao interior-cartao-condicoes"
                >
                  {{ poder.nome }}
                </mat-card-title>
                <mat-card-content
                  class="interior-cartao interior-cartao-condicoes content-cartao-condicoes"
                >
                <div class="content">
                  <div class="row">
                    <div class="col-sm-12">
                      <hr class="" />
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="col-sm-12"
                      [innerHTML]="poder.descricao"
                    ></div>
                    <div class="col-sm-12">
                      <hr class="" />
                    </div>
                    <div class="col-sm-12">
                      {{poder.prerequisito}}
                    </div>
                  </div>
                </div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
        <mat-tab label="Poderes de Magia">
          <div class="row">
            <div class="col-sm-6 mt-4">
              <mat-form-field class="form-field">
                <mat-label>Poder de Magia</mat-label>
                <input
                  formControlName="nome"
                  matInput
                  type="text"
                  (keyup)="consultarPoderesMagia()"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-12 mt-4">
            <div class="d-flex justify-content-end">
              <b>Número de Registros: {{ numero_registros_magia }}</b>
            </div>
          </div>
          <mat-grid-list cols="3" gutterSize="15">
            <mat-grid-tile *ngFor="let poder of poderes_magia">
              <mat-card class="card-padrao">
                <mat-card-title
                  class="titulo-cartao-apresentacao interior-cartao interior-cartao-condicoes"
                >
                  {{ poder.nome }}
                </mat-card-title>
                <mat-card-content
                  class="interior-cartao interior-cartao-condicoes content-cartao-condicoes"
                >
                <div class="content">
                  <div class="row">
                    <div class="col-sm-12 d-flex justify-content-end">
                      {{poder.e_aprimoramento ? 'Aprimoramento ':''}}
                      {{poder.e_poder_magico ? 'Mágico ':''}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <hr class="" />
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="col-sm-12"
                      [innerHTML]="poder.descricao"
                    ></div>
                    <div class="col-sm-12">
                      <hr class="" />
                    </div>
                    <div class="col-sm-12">
                      {{poder.prerequisito}}
                    </div>
                  </div>
                </div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
        <mat-tab label="Poderes Concedidos">
          <div class="row">
            <div class="col-sm-12 mt-4">
              <mat-radio-group 
                title="Deuses"
                formControlName="id_deuses"
                (change)="selecaoDeuses($event.value)"
                aria-labelledby="radio-deus"
              >
              @for (deus of deuses; track deus) {
                <mat-radio-button class="example-radio-button" [value]="deus.id">{{deus.nome}}</mat-radio-button>
              }
              </mat-radio-group>
            </div>
            <div class="col-sm-6 mt-4">
              <mat-form-field class="form-field">
                <mat-label>Poder Concedido</mat-label>
                <input
                  formControlName="nome"
                  matInput
                  type="text"
                  (keyup)="consultarPoderesConcedido(null)"
                />
              </mat-form-field>
            </div>
            <div class="col-sm-6 mt-4 button-row d-flex justify-content-end">
              <button class="me-2" (click)="limparFiltros()" mat-flat-button>
                Limpar Filtros
              </button>
            </div>
          </div>
          <div class="col-sm-12 mt-4">
            <div class="d-flex justify-content-end">
              <b>Número de Registros: {{ numero_registros_concedido }}</b>
            </div>
          </div>
          <mat-grid-list cols="3" gutterSize="15">
            <mat-grid-tile *ngFor="let poder of poderes_concedido">
              <mat-card class="card-padrao">
                <mat-card-title
                  class="titulo-cartao-apresentacao interior-cartao interior-cartao-condicoes"
                >
                  {{ poder.nome }}
                </mat-card-title>
                <mat-card-content
                  class="interior-cartao interior-cartao-condicoes content-cartao-condicoes"
                >
                  <div class="content">
                    <div class="row">
                      <div class="col-sm-12 d-flex justify-content-end">
                        {{nomeDeuses(poder.deuses)}} 
                        {{poder.e_aprimoramento || poder.e_poder_magico ? '|' : '' }}
                        {{poder.e_aprimoramento ? 'Aprimoramento ':''}}
                        {{poder.e_poder_magico ? 'Mágico ':''}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <hr class="" />
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-sm-12"
                        [innerHTML]="poder.descricao"
                      ></div>
                      <div class="col-sm-12">
                        <hr class="" />
                      </div>
                      <div class="col-sm-12">
                        {{poder.prerequisito}}
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
        <mat-tab label="Poderes da Tormenta">
          <div class="row">
            <div class="col-sm-6 mt-4">
              <mat-form-field class="form-field">
                <mat-label>Poder da Tormenta</mat-label>
                <input
                  formControlName="nome"
                  matInput
                  type="text"
                  (keyup)="consultarPoderesTormenta()"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-12 mt-4">
            <div class="d-flex justify-content-end">
              <b>Número de Registros: {{ numero_registros_tormenta }}</b>
            </div>
          </div>
          <mat-grid-list cols="3" gutterSize="15">
            <mat-grid-tile *ngFor="let poder of poderes_tormenta">
              <mat-card class="card-padrao">
                <mat-card-title
                  class="titulo-cartao-apresentacao interior-cartao interior-cartao-condicoes"
                >
                  {{ poder.nome }}
                </mat-card-title>
                <mat-card-content
                  class="interior-cartao interior-cartao-condicoes content-cartao-condicoes"
                >
                  <div class="content">
                    <div class="row">
                      <div class="col-sm-12 d-flex justify-content-end">
                        {{poder.e_aprimoramento ? 'Aprimoramento ':''}}
                        {{poder.e_poder_magico ? 'Mágico ':''}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <hr class="" />
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-sm-12"
                        [innerHTML]="poder.descricao"
                      ></div>
                      <div class="col-sm-12">
                        <hr class="" />
                      </div>
                      <div class="col-sm-12">
                        {{poder.prerequisito}}
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
      </mat-tab-group>
    </form>
  </mat-card>
</div>
