<div class="card-game">
  <div class="row align-items-center for-row mb-2">
    <div class="row align-items-center for-row">
      <div class="col-12 label" style="color: white !important">{{ attribute?.nome }}</div>
    </div>
    <hr />
    <div class="row align-items-center for-row mb-2">
      <div class="col-3 label" style="color: white !important">PODER</div>
      <div class="col-3 label" style="color: white !important">RACIAL</div>
      <div class="col-3 label" style="color: white !important">COMPRADO</div>
      <div class="col-3 label d-flex justify-content-center" style="color: white !important">
        <span class="material-symbols-outlined" disabled>
          <mat-icon style="cursor: auto !important; padding-left: 20% !important">shopping_cart</mat-icon>
        </span>
      </div>
    </div>

    <div class="values">
      <div class="col-sm-3 small-value">
        <input size="1" [value]="attribute?.poder" />
      </div>
      <div class="col-sm-3 small-value">
        <input size="1" [value]="attribute?.racial" />
      </div>
      <div class="col-sm-3 small-value">
        <div style="font-size: large">{{ attribute?.comprado }}</div>
      </div>
      <div class="col-3 d-flex gap-2 justify-content-end">
        <button
          style="color: #7a0000 !important"
          class="btn btn-outline-danger btn-sm w-100"
          [disabled]="attribute!.comprado"
          (click)="calculaPontos(attribute!.comprado! + 1)">
          +
        </button>
        <button
          style="color: #7a0000 !important"
          class="btn btn-outline-danger btn-sm w-100"
          [disabled]="attribute!.comprado! === -1"
          (click)="calculaPontos(attribute!.comprado! - 1)">
          -
        </button>
      </div>
    </div>
  </div>
  <div class="row align-items-center for-row mb-1">
    <div class="col-sm-12">
      <div class="main-value">{{ attribute?.total }}</div>
    </div>
  </div>
</div>
